<template>
  <div
    class="checkbox-wrapper"
    :class="[disabled ? 'disabled' : '', { 'with-gap': hasLabel }]"
    role="button"
    @click="toggle"
  >
    <div class="checkbox" :class="{ selected: selected }">
      <div v-show="selected" class="fa fa-check"></div>
    </div>
    <div v-if="label" class="checkbox-label">
      <span>{{ label }}</span>
      <slot></slot>
    </div>
    <div v-else>
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { isBoolean } from 'lodash';
export default {
  props: {
    value: [Boolean, String],
    disabled: {
      type: Boolean
    },
    label: {
      type: String
    },
    falseValue: {
      default: false // No type to give flexibility
    },
    trueValue: {
      default: true // No type to give flexibility
    }
  },
  name: 'WsCheckbox',
  computed: {
    /**
     * Returns:
     * if false/trueValue is a boolean, returns it
     * if false/trueValue is a string/other, returns it
     */
    selected() {
      if (isBoolean(this.falseValue) && isBoolean(this.trueValue)) {
        return this.value;
      } else {
        return this.value === this.trueValue;
      }
    },
    hasLabel() {
      // Check if this.$slots contains keys
      return !!this.label || Object.keys(this.$slots).length > 0;
    }
  },
  methods: {
    /**
     * Toggle the checkbox value and emit the change falseValue/trueValue
     */
    toggle() {
      if (this.disabled) {
        return;
      }

      // Handle as normal checkbox with true/false values
      if (isBoolean(this.falseValue) && isBoolean(this.trueValue)) {
        // Return false- or trueValue depending on the opposite of this.selected (toggle effect)
        if (!this.value) {
          this.emitInput(this.trueValue);
        } else {
          this.emitInput(this.falseValue);
        }
      } else {
        // Handle as checkbox with true-value and false-value defined as other than true/false
        // e.g. true-value: 'Hello', false-value: 'Bye'
        if (this.value === this.trueValue) {
          this.emitInput(this.falseValue);
        } else {
          this.emitInput(this.trueValue);
        }
      }
    },
    /**
     * Emit the input event with the value
     * Both support for change- and input-event
     */
    emitInput(value) {
      this.$emit('input', value);
      this.$emit('change', value);
    }
  }
};
</script>

<style scoped lang="scss">
@import "../styles/variables.scss";

.disabled {
  cursor: not-allowed !important;

  .checkbox {
    border-color: #cecece;
    cursor: not-allowed !important;
  }

  .selected {
    background-color: #cecece;
  }
}

.checkbox-wrapper {
  display: grid;
  align-items: center;

  grid-template-columns: auto minmax(0, 1fr);

  &.with-gap {
    gap: 8px;
  }
}

.checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;
  padding-bottom: 0;
  color: white;
  font-size: 15px;
  line-height: 15px;
  border: 2px solid $border-color;
  border-radius: 2px;
  border-radius: 4px;
  cursor: pointer;
}
.selected {
  background-color: $color-light-orange;
  border-color: $color-light-orange;
}
.fa {
  position: absolute;
  width: 12px;
  height: 12px;
  font-size: 12px;
}
</style>
