<template>
  <div
    ref="dropdown"
    tabindex="0"
    :class="[{ 'not-allowed': this.localIsDisabled }, dropup ? 'dropup' : 'dropdown']"
    @focus="tabulatedToFocus"
  >
    <div class="dropdown-arrow">
      <i v-if="!isLoading" class="fa fa-angle-down fa-lg" />
      <i v-else class="fa fa-lg fa-spinner fa-pulse"></i>
    </div>
    <div
      :class="[{ disabled: localIsDisabled }, { 'small-padding': smallPadding }]"
      class="custom-dropdown dropdown-toggle"
      label="button"
      @click="debouncedToggle"
      ref="dropdownToggle"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <div class="label-and-picked">
        <span v-if="label">{{ label }}</span>
        <div v-if="multiple" class="chosen-option" :class="{ bold: bold }">
          <div
            :key="identifiedBy ? option.value[identifiedBy] : option.value"
            class="dropdown-option-badge"
            v-for="(option, idx) in selectedOption"
          >
            {{ option.label }}
            <i class="fa fa-times delete-icon" @click="(e) => removeOption(e, idx)"></i>
          </div>
        </div>

        <!-- Make it possible to set a label for null-value. If no null-value label exists, just show '-' -->
        <div v-else class="chosen-option" :class="{ bold: bold }">
          {{
            selectedOption || nullValueInOptions
              ? (selectedOption && selectedOption.label) || (nullValueInOptions && nullValueInOptions.label)
              : '-'
          }}
        </div>
      </div>
    </div>

    <!-- v-click-outside is a custom directive in click-outside.ts -->
    <div v-if="showDropdown" class="dropdown-menu" ref="dropdownMenu" v-click-outside="debouncedToggle">
      <div class="dropdown-item search" v-if="!hideSearch">
        <div class="search-field">
          <input
            ref="inputToFocus"
            label="text"
            focus="true"
            v-model="searchFilter"
            :placeholder="placeholder || 'Search'"
            @keydown.esc="unFocus()"
            @keydown.enter="
              selectOption(filteredOptions[0]);
              unFocus();
            "
            @keydown.tab="closeDropdown"
          />
          <img class="search-field__icon" :src="icons.search" />
        </div>
      </div>
      <div
        class="dropdown-item"
        v-for="(option, index) in filteredOptions"
        :key="index"
        @mousedown="selectOption(option)"
        :class="[
          { 'no-select': !option.label && !option.value },
          highlightedOption && highlightedOption.value === option.value ? 'dropdown-item--highlighted' : ''
        ]"
      >
        <div class="d-flex justify-content-between">
          <div>
            <div>{{ option.label || option.value || '' }}</div>
            <div class="sub-label" v-show="option.sub_label">{{ option.sub_label }}</div>
          </div>
          <div v-if="isOptionSelected(option)" class="d-flex justify-content-center align-items-center">
            <img :src="icons.check" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import ClickOutside from 'vue-click-outside';

import plus from '../../assets/icons/common/plus.svg';
import expand from '../../assets/icons/common/expand.svg';
import search from '../../assets/icons/common/search.svg';
import check from '../../assets/icons/status/done.svg';

export default {
  name: 'WsDropdown',
  props: {
    options: Array,
    placeholder: {
      type: String,
      default: ''
    },
    value: null,
    isLoading: {
      type: Boolean,
      default: false
    },
    hideSearch: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: ''
    },
    bold: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    identifiedBy: String | null,
    smallPadding: {
      type: Boolean,
      default: false
    },
    multiple: {
      type: Boolean,
      default: false
    },
    dropup: {
      type: Boolean,
      default: false
    }
  },
  directives: {
    ClickOutside
  },
  data() {
    return {
      selectedOption: null,
      searchFilter: '',
      icons: {
        plus,
        expand,
        search,
        check
      },
      highlightedOption: null,
      arrowKeyObserver: null,
      previouslyHighlightedIndex: null,
      showDropdown: false
    };
  },
  watch: {
    /**
     * Updates current selection if :value / v-model changes
     */
    value: {
      handler: function (newV, oldV) {
        if (_.isEqual(oldV, newV)) {
          return;
        }

        this.updateSelectedOption(newV);
      },
      deep: true,
      immediate: false
    }
  },
  mounted() {
    if (this.multiple) {
      if (this.value && this.value.length > 0) {
        this.updateSelectedOption(this.value);
      }
    } else {
      this.updateSelectedOption(this.value);
    }
  },
  beforeDestroy() {
    // Make sure that classObserver is disconnected when the component is destroyed
    this.classObserver?.disconnect();
  },
  methods: {
    /**
     * Registers or destroys arrow key observers when the dropdown is opened/closed
     */
    registerOrDestroyObservers(newValue) {
      const newValues = newValue.split(' ');
      if (newValues.includes('show')) {
        // Register arrow key observers
        document.addEventListener('keydown', this.changeHighlightedOption);
      } else {
        // Destroy arrow key observers
        document.removeEventListener('keydown', this.changeHighlightedOption);
        this.highlightedOption = null;
        this.previouslyHighlightedIndex = null;
      }
    },
    /**
     * Safely changes highlightedOption
     * Also, scrolls to the highlighted option if it is not visible
     */
    changeHighlightedOption(nextOrPrevious) {
      // Don't navigate if dropdown is closed..
      if (!this.showDropdown) {
        return;
      }

      switch (nextOrPrevious.key) {
        case 'Enter': {
          nextOrPrevious.preventDefault();
          if (this.highlightedOption?.value) {
            // Select option
            this.selectOption(this.highlightedOption);
            this.closeDropdown();
            // Clear everything
            document.removeEventListener('keydown', this.changeHighlightedOption);
            this.highlightedOption = null;
            this.previouslyHighlightedIndex = null;
          }
          break;
        }
        case 'ArrowDown': {
          nextOrPrevious.preventDefault(); // Don't scroll entire window
          if (this.highlightedOption === null) {
            this.$refs?.inputToFocus?.blur();
            this.highlightedOption = this.filteredOptions[0];
          } else {
            const index = this.filteredOptions.findIndex((option, index) => {
              // Make sure that only one index is incremented at a time
              // (solves issue where there are duplicates (favourites on top))
              if (Math.abs(index - this.previouslyHighlightedIndex) > 1) {
                return false;
              }
              return option.value === this.highlightedOption.value;
            });
            // Make sure that highliught doesn't go out of bounds
            if (index < this.filteredOptions.length - 1) {
              this.highlightedOption = this.filteredOptions[index + 1];
            }
            // Store the index of the previously highlighted option to prevent weird behavior when there are duplicates
            this.previouslyHighlightedIndex = index;
            this.scrollToHighlightedElement();
          }
          break;
        }
        case 'ArrowUp': {
          nextOrPrevious.preventDefault(); // Don't scroll entire window
          if (this.highlightedOption === null) {
            return;
          }
          // Get the index of the current highlighted option
          const index = this.filteredOptions.findIndex((option) => {
            return option.value === this.highlightedOption.value;
          });

          // If highlighted option is the first option, simulate that it moves to the search field, should it be visible
          if (index === 0) {
            this.highlightedOption = null;
            this.$refs?.inputToFocus?.focus();
          } else if (index > 0) {
            this.highlightedOption = this.filteredOptions[index - 1];
          }
          // Store the index of the previously highlighted option to prevent weird behavior when there are duplicates
          this.previouslyHighlightedIndex = index;
          this.scrollToHighlightedElement();
          break;
        }
      }
    },
    /**
     * Scroll to the highlighted element
     */
    scrollToHighlightedElement() {
      // Get the element to scroll to
      const dropdownChildren = this.$refs.dropdownMenu?.children;
      const highlightedElement = Array.from(dropdownChildren)?.find((child) =>
        child.classList.contains('dropdown-item--highlighted')
      );
      highlightedElement?.scrollIntoView({ behavior: 'smooth', block: 'center' });
    },
    /**
     * Updates selectedOption by looking for matching value in this.options
     */
    updateSelectedOption(value) {
      if (!value) {
        this.selectedOption = this.multiple ? [] : null;
        return;
      }

      if (this.multiple) {
        const mappedValues = value.map((val) =>
          this.options.find((o) => this.getIdentifier(o.value) === this.getIdentifier(val))
        );
        // Remove elements that are falsy (null, undefined)
        const mappedValuesWithoutFalsyValues = _.filter(mappedValues, (value) => value);
        this.selectedOption = mappedValuesWithoutFalsyValues;
      } else {
        if (this.getIdentifier(value)) {
          this.selectedOption = this.options.find((o) => {
            return this.getIdentifier(o.value) === this.getIdentifier(value);
          });
        }
      }
    },
    /**
     *  Converts input to Integer if possible, else return input as-is
     */
    parseInt(val) {
      const containsLettersRegex = /[a-zA-Z]/g;

      if (containsLettersRegex.test(val)) {
        return val;
      }

      let asInt = _.parseInt(val);

      return _.isNaN(asInt) ? val : asInt;
    },
    /**
     * Takes a string, int or objects as input and returns a value (string or int) that can be used to compare to value
     *
     * Assusing indentifiedBy is 'id':
     * Example getIdentifier('2') === getIdentifier(2)
     * Example getIdentifier({id: 123, name: 'hello'}) === getIdentifier({id: '123', name: null})
     */
    getIdentifier(value) {
      if (!value || typeof value !== 'object' || !this.identifiedBy) {
        return this.parseInt(value);
      }

      const identifier =
        value?.[this.identifiedBy] ??
        Object.values(value || {}).find((v) => v && typeof v === 'object')?.[this.identifiedBy];
      return this.parseInt(identifier);
    },
    /**
     * Returns a unique array, comparing values with makeUnique
     */
    makeUnique(array) {
      return _.uniqBy(array, (el) => this.makeUnique(el.value));
    },
    removeOption(event, idx) {
      this.selectedOption.splice(idx, 1);

      let output = this.multiple ? _.compact(this.selectedOption).map((e) => e.value) : this.selectedOption.value;
      this.$emit('input', output);

      event.preventDefault();
      event.stopPropagation();
    },
    /**
     * Selects option. Adds to array if multiple is active
     */
    selectOption(option) {
      if (this.multiple) {
        this.selectedOption = this.makeUnique((this.selectedOption || []).concat([option]));
      } else {
        this.selectedOption = option;
      }

      const output = this.multiple ? _.compact(this.selectedOption).map((e) => e.value) : this.selectedOption.value;
      this.$emit('input', output);

      this.searchFilter = '';
      this.unFocus();
    },
    unFocus() {
      this.searchFilter = '';
      this.$refs.dropdown.blur();
    },
    /**
     * Fire click event on dropdownToggle
     */
    tabulatedToFocus(event) {
      this.$refs.dropdownToggle.click();
    },
    /**
     * Streamlines easy way to (re-)focus the dropdown
     */
    focus() {
      this.debouncedToggle();
    },
    /**
     * Debouced toggle so that the dropdown won't open and close immediately after.
     */
    debouncedToggle: _.debounce(function () {
      if (this.localIsDisabled) {
        return;
      }
      const dropdown = this.$refs.dropdown;

      dropdown.classList?.toggle('show');

      if (dropdown.classList?.contains('show')) {
        // Use this boolean so that the v-click-outside directive is only listening when dropdown is open.
        this.showDropdown = true;
        this.$emit('focus');
        this.observeDropdownShow();
      } else {
        this.classObserver?.disconnect();
        this.showDropdown = false;
        this.$emit('blur');
      }
      this.$nextTick(() => {
        const dropdownMenu = this.$refs.dropdownMenu;
        dropdownMenu?.classList?.toggle('show');

        // Now focus the searchfield if it exists
        this.$refs.inputToFocus?.focus();
      });
    }, 200),
    /**
     * Attaches an observer to the dropdown menu that listens for changes to added/removed classNames
     */
    observeDropdownShow() {
      this.$nextTick(() => {
        // Safe-guard if there already is an observer
        if (this.classObserver) {
          this.classObserver.disconnect();
        }
        // Create an observer to observe for class changes
        this.classObserver = new MutationObserver((mutations) => {
          for (const m of mutations) {
            const newValue = m.target.getAttribute(m.attributeName);

            this.$nextTick(() => {
              this.registerOrDestroyObservers(newValue);
            });
          }
        });

        // Start the observation on the dropdown menu
        this.classObserver.observe(this.$refs.dropdownMenu, {
          attributes: true,
          attributeOldValue: true,
          attributeFilter: ['class']
        });
      });
    },
    /**
     * Close the dropdown if the user clicks outside of it
     */
    closeDropdown() {
      const dropdown = this.$refs.dropdown;
      const dropdownMenu = this.$refs.dropdownMenu;

      if (dropdown?.classList?.contains('show')) {
        dropdown.classList.remove('show');
      }

      if (dropdownMenu?.classList?.contains('show')) {
        dropdownMenu.classList.remove('show');
      }
      this.showDropdown = false;
      this.$emit('blur');
    },
    /**
     * Returns true if the option is selected
     */
    isOptionSelected(option) {
      if (this.multiple) {
        return this.selectedOption?.find((selectedOption) => {
          return this.getIdentifier(selectedOption) === this.getIdentifier(option);
        });
      } else {
        return this.getIdentifier(this.selectedOption) === this.getIdentifier(option);
      }
    }
  },
  computed: {
    /**
     * Returns a found option will value === null, should it exist.
     * Used to show a label for value null, if it is defined in this.options.
     */
    nullValueInOptions() {
      const foundNullValueInOptions = this.options.find((option) => {
        return option.value === null;
      });
      return foundNullValueInOptions;
    },
    /**
     * Used to disable input on dropdown
     * disabled if: disabled prop is true or isLoading is true
     */
    localIsDisabled() {
      return this.disabled || this.isLoading;
    },
    /**
     * Filter options by user search
     */
    filteredOptions() {
      if (!this.searchFilter) {
        return this.options;
      }

      let options = _.filter(this.options, (option) => {
        return option.label.toLowerCase().indexOf(this.searchFilter.toLowerCase()) > -1;
      });

      // Make sure that we only show options with the same value once
      // There might be duplicates as dropdowns can show the most used items in the top.
      return _.uniqBy(options, 'value');
    }
  }
};
</script>

<style lang="scss" scoped>
@use '../styles/mixins.scss';
@import '../styles/variables.scss';

.custom-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 54px;
  padding-right: $large-padding;
  padding-left: $large-padding;
  background-color: #fff;
  border: 1px solid #e2e5ec;
  border-radius: 6px;
  cursor: pointer;

  & .label-and-picked {
    width: calc(100% - #{$large-padding});
    @include mixins.ellipsis;
    overflow: auto;
    & span {
      width: inherit;
      color: $color-dark-grey;
      font-size: 11px;
      text-transform: uppercase;
    }
  }

  & i {
    align-self: center;
  }
}

.no-select {
  height: 10px;
  pointer-events: none;
}

.dropdown-menu {
  overflow-y: auto;
  height: auto;
  max-height: 400px;
  min-width: 80px;
  margin-left: 0;
  & input {
    width: 100%;
    padding: 6px 16px;
    background-color: transparent;
    border: none;
  }

  .search-field {
    position: relative;
    align-items: center;

    &__icon {
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }
}

.dropdown-option-badge {
  padding: 5px 10px 5px 10px;
  background-color: $color-medium-grey;
  display: inline-block;
  margin-right: 10px;
  border-radius: 4px;

  .delete-icon {
    cursor: pointer;
  }
}

.dropdown-item {
  padding: 6px 16px;
  font-weight: 600;
  cursor: pointer;

  // Variations
  &--highlighted {
    background-color: $color-medium-grey;
  }
}

.dropdown-toggle::after {
  display: none;
}

.search {
  padding-right: 0;
  padding-left: 0;
}

.dropdown-arrow {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  height: 100%;
  pointer-events: none;
}

.dropdown {
  position: relative;
  outline: none;
}

.sub-label {
  font-weight: 400;
  font-size: 80%;
  color: $color-dark-grey;
}

.not-allowed {
  background: $background-color;
  cursor: not-allowed;

  & > .custom-dropdown {
    background-color: transparent;
    pointer-events: none;
  }
}

.small-padding {
  padding-left: $small-padding;
}
</style>
