<template>
  <div class="file-input" :class="customClass" :key="randomIdentifier">
    <div class="file-input__labels">
      <label>{{ label }}</label>
      <div v-if="multiple">
        <span v-if="files.length === 0">{{ fileName }}</span>
        <span v-else class="pill" v-for="(file, index) in files" :key="index">
          {{ file }}
          <span class="pill__delete" @click="removeFile(index)">&times;</span>
        </span>
      </div>
      <span v-else>{{ fileName }}</span>
    </div>
    <label :for="randomIdentifier" class="file-input__wrapper">
      <input
        :id="randomIdentifier"
        ref="inputFile"
        class="form-control"
        type="file"
        :multiple="multiple"
        @change="(event) => fileChanged(event)"
      />
    </label>
  </div>
</template>

<script>
export default {
  name: 'WsFileUploadInput',
  props: {
    label: {
      type: [String, Number],
      default: '',
      required: true
    },
    multiple: {
      type: Boolean,
      default: false
    },
    customClass: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      fileName: 'No file chosen',
      files: []
    };
  },
  methods: {
    /**
     * Handles the file change event for multiple or single files
     */
    fileChanged(event) {
      if (this.multiple) {
        this.files.push(this.$refs.inputFile.files[0].name ?? '');
      } else {
        this.fileName = this.$refs.inputFile.files[0].name ?? '';
      }
      this.$emit('change', event);
    },
    /**
     * Removes a file from the files array, only used when multiple is true
     */
    removeFile(index) {
      this.files.splice(index, 1);
      this.$emit('removeIndex', index);
    }
  },
  computed: {
    /**
     * Used to generate a unique identifier for the input field. This will work inside v-for loops also
     */
    randomIdentifier() {
      return Math.random();
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../styles/variables.scss';

.file-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 54px;
  padding: 8px 20px;
  background: #fff;
  border: 1px solid #e2e5e6;
  border-radius: 6px;
  outline: none;
  &__labels {
    top: 16px;
    left: 20px;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: $color-dark-grey;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease all;
    label {
      margin-bottom: 0.3rem;
    }
    span,
    div {
      color: $webshipperblue;
    }

    & .pill {
      position: relative;
      z-index: 1;
      display: inline-block;
      padding: 0 10px;
      margin-right: 4px;
      background-color: $background-yellow;
      border: 1px solid $background-color;
      border-radius: 10px;
      transition: 0.2s ease-in-out background-color;

      &:hover {
        background-color: darken($background-yellow, 10%);
        cursor: pointer;
      }

      &__delete {
        transition: 0.2s ease-in-out transform;
        :hover {
          transform: scale3d(1.1, 1.1, 1);
        }
      }
    }
  }
  input[type='file'] {
    display: none;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  & input:focus ~ label,
  & input:valid ~ label {
    top: 10px;
    color: $color-dark-grey;
    font-size: 11px;
    text-transform: uppercase;
  }
}
</style>