<template>
  <div class="form-group">
    <label v-if="label">{{ label }}</label
    ><input ref="fileReader" type="file" :accept="accept" hidden="true" @change="onDrop($event)" />
    <div
      class="image-upload d-block justify-content-center"
      :class="{ active: fileHover }"
      @click=""
      @dragstart="$event.preventDefault()"
      @dragover="onDragOver($event)"
      @dragleave="dragLeave"
      @drop="onDrop($event)"
    >
      <div v-if="image.length > 0" class="content text-center pt-2" @click="$refs.fileReader.click()">
        <img :src="image" />
      </div>
      <div v-else class="content text-center pt-4">
        <h5 class="align-middle">{{ dragDropText }}</h5>
      </div>
      <div class="image-footer">
        <div class="row">
          <div class="col">
            <a class="ml-4 footer-text" @click="$refs.fileReader.click()">{{ changeText }}</a>
          </div>
          <div class="col text-right">
            <a v-if="image && image.length > 0" class="mr-4 text-danger footer-text" @click="removeImage">
              {{ deleteText }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <span v-if="requiredInput && !hasContent" class="required-field">*{{ requiredText }}</span>
  </div>
</template>

<script>
export default {
  name: 'WsImageUploader',
  props: {
    value: null,
    label: {
      type: String,
      required: false
    },
    accept: {
      type: String,
      default: 'image/*'
    },
    requiredInput: {
      type: Boolean,
      default: false
    },
    requiredText: {
      type: String,
      required: false,
      default: 'required'
    },
    deleteText: {
      type: String,
      required: false,
      default: 'Delete'
    },
    changeText: {
      type: String,
      required: false,
      default: 'Change'
    },
    dragDropText: {
      type: String,
      required: false,
      default: 'Drag and drop image here'
    }
  },
  data() {
    return {
      image: this.value || '',
      fileHover: false
    };
  },
  methods: {
    removeImage() {
      this.image = '';
      this.$emit('input', null);
    },
    onDragOver(e) {
      e.preventDefault();
      this.fileHover = true;
    },
    /**
     * starts filer reader and manipulates image property
     */
    onDrop(e) {
      e.preventDefault();
      this.fileHover = false;
      const files = e.target.files || e.dataTransfer.files;

      if (files.length === 0) {
        return;
      }

      const read = new FileReader();

      const thisRef = this;
      read.onload = (e) => {
        this.image = e.target.result;

        this.$emit('input', e.target.result);
      };

      read.readAsDataURL(files[0]);
    },
    dragLeave(e) {
      e.preventDefault();
      this.fileHover = false;
    }
  }
};
</script>

<style scoped lang="scss">
@use '../styles/mixins.scss';
@import '../styles/variables.scss';

.image-upload {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 130px;
  line-height: 130px;
  border: 1px dashed rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
.image-upload .content {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 90px;
  max-height: 90px;
  img {
    max-width: 250px;
    max-height: 65px;
  }
}
.image-upload h5 {
  color: rgba(0, 0, 0, 0.3);
}
.image-upload.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.image-upload img {
  vertical-align: top;
}
.image-footer {
  position: relative;
  bottom: 0;
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  line-height: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.image-footer a {
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  vertical-align: middle;
}

.required-field {
  padding-left: 20px;
  margin-bottom: 50px;
  color: $color-red;
  font-size: 12px;
}

.footer-text {
  margin-top: -0.3rem;
}
</style>
