<template>
  <div class="input-container" :class="[customClass, disabled ? 'not-allowed' : '']">
    <button class="btn text-input-dropdown dropdown-toggle pl-2" data-toggle="dropdown" :class="{ disabled: disabled }">
      {{ label }}
    </button>
    <div class="dropdown-menu">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WsInputFieldDropdownBtn',
  props: {
    label: {
      type: [String, Number],
      default: '',
      required: true
    },
    customClass: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/variables.scss";

.input-container {
  width: fit-content;
}

.text-input-dropdown {
  position: relative;
  height: 54px;
  background: #fff;
  border: 1px solid $border-color;
  border-radius: 6px;
  outline: none;
}

.not-allowed {
  background: $background-color;
  cursor: not-allowed;
}

.disabled {
  background-color: transparent;
  pointer-events: none;
}
</style>