<template>
  <div class="input-container" :class="[customClass, { 'not-allowed': localIsDisabled }]">
    <label :class="{ 'small-padding': smallPadding }">{{ label }}</label>
    <i v-if="!isLoading" class="fa fa-lg fa-angle-down"></i>
    <i v-else class="fa fa-lg fa-spinner fa-pulse"></i>
    <select v-if="withSelect" @input="$emit('input', $event.target.value)">
      <slot></slot>
    </select>
    <div v-else :class="{ 'with-label': label }">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WsInputfieldDropdownSelectOptions',
  props: {
    withSelect: {
      type: Boolean,
      default: false
    },
    label: {
      type: [String, Number],
      default: ''
    },
    isLoading: {
      type: Boolean,
      default: false
    },
    customClass: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    smallPadding: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    /**
     * Disables input if disabled prop is set to true or isLoading is true
     */
    localIsDisabled() {
      return this.disabled || this.isLoading;
    }
  }
};
</script>

<style lang="scss" scoped>
@use '../styles/mixins.scss';
@import '../styles/variables.scss';

$arrow-width: 40px;

.input-container {
  position: relative;
  display: flex;
  height: 54px;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
  border: 1px solid $border-color;
  border-radius: 6px;
  outline: none;

  select {
    width: 100%;
    height: 54px;
    padding-left: $large-padding;
    background: transparent;
    color: $color-blue;
    font-size: 14px;
    appearance: none;
    border: 0;
  }
  .with-label > select {
    padding-top: 20px;
  }

  & input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    border: none;
  }

  & label {
    @include mixins.ellipsis;
    width: calc(100% - #{$arrow-width});
    position: absolute;
    top: 9px;
    padding-left: $large-padding;
    color: $color-dark-grey;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease all;
    pointer-events: none;
    user-select: none;

    &.small-padding {
      padding-left: $small-padding;
      width: calc(100% - #{$arrow-width});
      // Make sure to apply small padding also to select, or div containing select
      & ~ select,
      & ~ .with-label select {
        padding-left: $small-padding;
      }
    }
  }

  & input:focus ~ label,
  & input:valid ~ label {
    top: 10px;
    color: $color-dark-grey;
    font-size: 11px;
    text-transform: uppercase;
  }

  & i.fa-angle-down,
  i.fa-spinner {
    pointer-events: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.not-allowed {
  background-color: $background-color;
  cursor: not-allowed;

  & select {
    background-color: transparent;
    pointer-events: none;
  }
}

.with-label {
  & > select {
    outline: none;
  }
}
</style>