<template>
  <div>
    <div class="text-input" :class="[customClass, disabled ? 'not-allowed' : '']">
      <!-- required="true" is necessary for label transition to work -->
      <input
        ref="input"
        :type="type"
        required="true"
        :class="[{ disabled: disabled }, { 'small-padding': smallPadding }, { 'no-label': !label }]"
        :value="value"
        :autocomplete="disableAutoFill ? 'new-password' : ''"
        :maxlength="maxLength"
        :tabindex="disabled ? -1 : ''"
        @focus="$emit('focus', $event.target.value)"
        @blur="$emit('blur', $event.target.value)"
        @input="emitInput"
        @keydown.enter="buttonPress"
      />
      <div class="input-focused-indicator" :class="{ danger: invalidInput }"></div>
      <label>{{ label }}</label>
      <div v-if="showButton" class="text-input__button">
        <WsIconButton :icon="icons.check" :disabled="disabled" @click="buttonPress" />
      </div>
    </div>
    <span v-if="requiredInput && !hasContent" class="required-field">*{{ requiredText }}</span>
  </div>
</template>

<script>
import _ from 'lodash';
import WsIconButton from '../buttons/icon-button.vue';
import check from '../../assets/icons/status/done.svg';

export default {
  name: 'WsInputField',
  props: {
    value: {
      type: [String, Number],
      default: ''
    },
    label: {
      type: [String, Number],
      default: ''
    },
    customClass: {
      type: String,
      default: ''
    },
    requiredInput: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    smallPadding: {
      type: Boolean,
      default: false
    },
    maxLength: {
      type: [Number],
      default: null
    },
    type: {
      type: String,
      default: 'text',
      validator(value) {
        return ['password', 'text'].includes(value.toLowerCase());
      }
    },
    invalidInput: {
      type: Boolean,
      default: false
    },
    validateAsNumber: {
      type: Boolean,
      default: false
    },
    disableAutoFill: {
      type: Boolean,
      default: false
    },
    showButton: {
      type: Boolean,
      default: false
    },
    requiredText: {
      type: String,
      default: 'Required'
    }
  },
  components: {
    WsIconButton
  },
  data() {
    return {
      icons: {
        check
      }
    };
  },
  computed: {
    hasContent() {
      return !_.isEmpty(this.value);
    }
  },
  emits: ['focus', 'blur', 'input', 'buttonClick'],
  methods: {
    /**
     * Emits input
     * If validateAsNumber is true, fix the input to be a number that allows commas before emit
     */
    emitInput(event) {
      let text = event.target.value;
      if (this.validateAsNumber) {
        // Is first number a comma/dot? then insert 0 - needs it for API calls
        if ([',', '.'].includes(text.charAt(0))) {
          text = `0${text}`;
        }
        // Regex matches numbers with comma (. or ,) .01 is not valid, but 0.01/0,01 is
        const isValidNumber = /^\d*[\. \,]?\d*$/;

        if (!isValidNumber.test(text)) {
          // Remove all non-numeric values
          text = text.replace(/\D/g, '');
        }
        // Replace all commas with punctioation mark to prepare for api
        text = text.replace(',', '.');
      }
      this.$emit('input', text);
      // Make sure that the input field also reflects the updated value - forceUpdate is necessary
      this.$forceUpdate();
    },
    buttonPress(event) {
      if (this.disabled) {
        return;
      }

      this.$emit('buttonClick', event);
    },
    focus() {
      this.$nextTick(() => this.$refs.input?.focus());
    }
  }
};
</script>

<style lang="scss" scoped>
@use '../styles/mixins.scss';
@import '../styles/variables.scss';

.text-input {
  position: relative;
  height: 54px;
  background-color: #fff;
  border: 1px solid $border-color;
  width: 100%;
  border-radius: 6px;
  outline: none;
  overflow: hidden;

  & input {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-left: $large-padding;
    color: $color-blue;
    font-size: 14px;
    background: transparent;
    border: none;
    border-radius: 6px;

    &.small-padding {
      padding-left: $small-padding;

      & ~ label {
        padding-left: $small-padding;
        width: calc(100% - #{$small-padding});
      }
    }

    &.no-label {
      padding-top: 0;
    }
  }

  &__button {
    position: absolute;
    top: 8px;
    right: 20px;
  }

  & label {
    @include mixins.ellipsis;
    width: calc(100% - #{$large-padding});
    position: absolute;
    top: 15px;
    padding-left: $large-padding;
    font-size: 14px;
    font-weight: normal;
    color: $color-dark-grey;
    transition: 0.2s ease all;
    pointer-events: none;
  }

  & input:focus ~ label,
  & input:valid ~ label {
    top: 8px;
    color: $color-dark-grey;
    font-size: 11px;
    text-transform: uppercase;
  }

  .input-focused-indicator {
    position: absolute;
    opacity: 0;
    left: 0;
    height: 0;
    width: 0;
    bottom: 0;
    background-color: $webshipper-yellow;
    transition: height 0.2s ease-in-out;

    &.danger {
      background-color: $color-red;
    }
  }

  // Set active state on bottom of input-field
  & input:focus {
    outline: none;
    & ~ .input-focused-indicator {
      opacity: 1;
      height: 3px;
      width: 100%;
    }
  }
}

.required-field {
  padding-left: 20px;
  margin-bottom: 50px;
  color: $color-red;
  font-size: 12px;
}

.not-allowed {
  background-color: $background-color;
  cursor: not-allowed;
}

.disabled {
  pointer-events: none;
}
</style>
