<template>
  <div class="number-form" :class="{ 'not-allowed': disabled }">
    <label v-if="label" :class="paddingClasses">
      {{ label }}
    </label>
    <input
      :min="min"
      :max="max"
      type="number"
      :value="localValue"
      :disabled="disabled"
      @keydown="disableSpecialCharacters($event)"
      @input="handleInput($event.target.value)"
      :class="[{ disabled: disabled }, paddingClasses]"
    />
    <div class="input-focused-indicator" :class="{ danger: invalidInput }"></div>
    <div class="number-form__icons" v-if="!hideButtons" :class="{ disabled: disabled }">
      <i class="fa fa-angle-up fa-lg" type="button" @click="increment" />
      <i class="fa fa-angle-down fa-lg" type="button" @click="decrement" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'WsNumberInputField',
  props: {
    value: {
      type: [Number, String]
    },
    label: {
      type: [Number, String]
    },
    min: {
      type: Number
    },
    max: {
      type: Number
    },
    disabled: {
      type: Boolean,
      default: false
    },
    disableSpecialChar: {
      type: Boolean,
      default: false
    },
    hideButtons: {
      type: Boolean,
      default: false
    },
    smallPadding: {
      type: Boolean,
      default: false
    },
    invalidInput: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    localValue: {
      get: function () {
        return this.value;
      },
      set: function (newValue) {
        this.$emit('input', newValue);
      }
    },
    paddingClasses() {
      return {
        'small-padding': this.smallPadding,
        'small-padding--no-buttons': this.smallPadding && this.hideButtons,
        'no-buttons': this.hideButtons
      };
    }
  },
  methods: {
    /**
     * Enforces value not going above max or below minimum.
     */
    handleInput(newValue) {
      const receivedValue = parseFloat(newValue);
      // Set the value to the minimum, if they want to enter a value below minimum
      if ((this.min || this.min === 0) && receivedValue < this.min) {
        this.localValue = this.min;
        this.$forceUpdate();
        return;
      }
      if ((this.max || this.max === 0) && receivedValue > this.max) {
        this.localValue = this.max;
        this.$forceUpdate();
        return;
      }
      this.localValue = receivedValue;
      this.$forceUpdate();
    },
    /**
     * Increments the number, but not any higher than this.max if it is set
     */
    increment() {
      if (this.disabled) {
        return;
      }

      // Don't increment if max and localValue are identical
      if (this.max || this.max === 0) {
        if (this.localValue + 1 > this.max) {
          return;
        }
      }
      // Make sure that number is defined
      if (this.localValue === null || this.localValue === undefined || isNaN(this.localValue)) {
        this.localValue = 0;
        this.$forceUpdate();
      }
      this.$nextTick(() => {
        this.localValue++;
      });
    },
    /**
     * Decrements the number, but not any lower than this.min if it is set
     */
    decrement() {
      if (this.disabled) {
        return;
      }

      // Don't decrement if max and localValue are identical
      if (this.min || this.min === 0) {
        if (this.localValue - 1 < this.min) {
          return;
        }
      }
      // Make sure that number is defined
      if (this.localValue === null || this.localValue === undefined || isNaN(this.localValue)) {
        console.log('decrement');
        this.localValue = 0;
        this.$forceUpdate();
      }

      this.$nextTick(() => {
        this.localValue--;
      });
    },

    disableSpecialCharacters(e) {
      if (this.disableSpecialChar) {
        // Prevents non word characters from being used
        if (/^\W$/.test(e.key)) {
          e.preventDefault();
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@use '../styles/mixins.scss';
@import '../styles/variables.scss';
$border-radius: 8px;
$buttons-width: 40px;

.number-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 54px;
  background-color: #fff;
  border: solid 1px $border-color;
  border-radius: $border-radius;
  overflow: hidden;

  & input {
    display: flex;
    width: 100%;
    height: inherit;
    padding: 0 $large-padding;
    color: $color-blue;
    background-color: transparent;
    border: none;

    &.small-padding {
      padding-left: $small-padding;
    }
  }

  & label {
    @include mixins.ellipsis;
    width: calc(100% - #{$buttons-width});
    position: absolute;
    top: 8px;
    padding-left: $large-padding;
    color: $color-dark-grey;
    font-size: 11px;
    text-transform: uppercase;
    pointer-events: none;

    // Make sure that the input makes room for the label
    & ~ input {
      padding-top: 16px;
    }

    &.no-buttons {
      width: calc(100% - 10px);
    }

    // Set small padding on label and input
    &.small-padding {
      padding-left: $small-padding;
      width: calc(100% - #{$buttons-width});

      // Variant
      &--no-buttons {
        width: calc(100% - 10px);
      }
    }
  }

  /* Chrome, Safari, Edge, Opera */
  & input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
  }

  /* Firefox */
  & input[type='number'] {
    -moz-appearance: textfield;
  }

  &__icons {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 5px;
  }

  .input-focused-indicator {
    position: absolute;
    opacity: 0;
    left: 0;
    height: 0;
    width: 0;
    bottom: 0;
    background-color: $webshipper-yellow;
    transition: height 0.2s ease-in-out;

    &.danger {
      background-color: $color-red;
    }
  }

  // Set active state on bottom of input-field
  & input:focus {
    outline: none;
    & ~ .input-focused-indicator {
      opacity: 1;
      height: 3px;
      width: 100%;
    }
  }
}

.disabled {
  pointer-events: none;
}

.not-allowed {
  background: $background-color;
  cursor: not-allowed;
}
</style>