<template>
  <label class="input-container">
    <span v-if="showLabel">{{ label }}</span>

    <slot></slot>
    <input type="radio" :name="name" :id="value" :value="inputValue" @input="changed()" :checked="equals" />
    <div class="radio">
      <img class="checkmark" :src="icons.check" />
    </div>
  </label>
</template>

<script>
import _ from 'lodash';
import check from '../../assets/icons/status/done-white.svg';

export default {
  name: 'WsRadioButton',
  props: {
    inputValue: null,
    value: {
      required: true
    },
    label: {
      type: [String, Number]
    },
    showLabel: {
      type: Boolean,
      default: true
    },
    name: {
      type: String,
      default: 'radio-button'
    }
  },
  data() {
    return {
      icons: {
        check
      }
    };
  },
  computed: {
    /**
     * A generic equals method that tries to compare as broad as possible
     * Returns true if equals, returns false if not
     **/
    equals() {
      // Are any of the two objects null?
      if (!_.isBoolean(this.value) && !_.isNumber(this.value) && _.isEmpty(this.value)) {
        return false;
      }
      // If it isn't an object, we can simply try to compare them!
      if (!_.isObject(this.inputValue) && !_.isObject(this.value)) {
        return this.inputValue === this.value;
      }
      return _.isEqual(this.value, this.inputValue);
    }
  },
  methods: {
    changed() {
      this.$emit('input', this.inputValue); // Return a boolean and not a string
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/variables.scss";
$dimension: 20px;

.input-container {
  position: relative;
  display: block;
  height: fit-content;
  padding-left: $dimension;
  cursor: pointer;
  user-select: none;
}

input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

span,
small,
strong {
  padding-left: 10px;
}

.checkbox,
.radio {
  position: absolute;
  top: 0;
  left: 0;
  width: $dimension;
  height: $dimension;
  background-color: #fff;
  border: 1px solid #c9cfdb;
  border-radius: 4px;
}

// top 50% and transform -50% vertically centers checkbox
.radio {
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}

input:checked ~ .checkbox,
input:checked ~ .radio {
  background-color: #e0a681;
  border: none;
}

label {
  margin: 0;
  color: $color-dark-grey;
}

div .radio {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Create checkmark (hidden when not checked) */
.checkmark {
  position: absolute;
  filter: brightness(0) saturate(100%) invert(100%);
}

/* Show the checkmark when checked */
input:checked + span .checkmark {
  display: inline-block;
}
</style>