<template>
  <input
    ref="slider"
    id="slider"
    type="range"
    :min="min"
    :max="max"
    :step="step"
    :value="value"
    @input="sliderInput($event.target.value)"
  />
</template>

<script>
export default {
  name: 'WsRangeSlider',
  props: {
    value: {
      type: [Number, String],
      default: 0
    },
    min: {
      type: [Number, String],
      default: 0
    },
    max: {
      type: [Number, String],
      default: 100
    },
    step: {
      type: [Number, String],
      default: 1
    }
  },
  mounted() {
    this.sliderInput(this.value);
  },
  watch: {
    value(newValue) {
      this.sliderInput(newValue);
    }
  },
  methods: {
    sliderInput(value) {
      this.$emit('input', Number(value));
      const slider = this.$refs.slider;
      // Adding the linear gradient is copied from https://jsfiddle.net/58suL6dg/2/
      slider.style.background = `linear-gradient(to right, #032447 0%, #032447 ${
        ((this.value - this.min) / (this.max - this.min)) * 100
      }%, #E2E5EC ${((this.value - this.min) / (this.max - this.min)) * 100}%, #E2E5EC 100%)`;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/variables.scss";

#slider {
  height: 6px;
  border-radius: 8px;
  outline: none;

  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  background: $webshipperblue;
  box-shadow: 0 3px 6px rgba(black, .29);
  border: 2px solid #e2e5ec;
  border-radius: 100%;

  -webkit-appearance: none;
}
</style>