<template>
  <div
    class="search-input"
    :class="[shape, { 'has-dropdown-filtering': hasDropdownFiltering }]"
    @click="$emit('click')"
  >
    <div
      v-if="hasDropdownFiltering"
      class="dropdown-arrow"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="fa fa-angle-down fa-lg" />
    </div>
    <img class="search-icon" :src="icons.search" v-if="show_icon" />
    <input
      :autocomplete="noAutoSuggest ? 'new-password' : false"
      type="text"
      :value="value"
      :placeholder="placeholder"
      @input="$emit('input', $event.target.value)"
      @focus="$emit('focus')"
      @blur="$emit('blur')"
    />
    <div v-if="canClear" class="clear" :class="shape" @click.stop="clearAndCloseDropdowns" role="button">
      <i class="fa fa-times-circle fa-lg"></i>
    </div>
    <template v-if="hasDropdownFiltering">
      <div class="dropdown-menu">
        <div
          v-for="item in dropdownItems"
          :key="item.value"
          type="button"
          class="dropdown-item"
          @click="$emit('dropdown-value', item)"
        >
          {{ item.label || item.value }}
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import search from '../../assets/icons/common/search.svg';

export default {
  name: 'WsSearchfield',
  props: {
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: 'search'
    },
    show_icon: {
      type: Boolean,
      default: true
    },
    canClear: {
      type: Boolean,
      default: false
    },
    shape: {
      type: String,
      default: 'round',
      validator(value) {
        return ['round', 'square'].includes(value);
      }
    },
    noAutoSuggest: {
      type: Boolean,
      default: false
    },
    hasDropdownFiltering: {
      type: Boolean,
      default: false
    },
    dropdownItems: {
      type: Array,
      default: () => []
    },
    dropdownValue: {
      type: undefined, // Any type
      default: undefined
    }
  },
  data() {
    return {
      icons: {
        search
      }
    };
  },
  methods: {
    /**
     * clears the inputfield and emits something to handle ie. dropdown closing
     */
    clearAndCloseDropdowns() {
      this.$emit('input', '');
      this.$emit('clearing');
    }
  }
};
</script>

<style lang="scss" scoped>
@use '../styles/mixins.scss';
@import '../styles/variables.scss';

.search-input {
  position: relative;
  width: 100%;
  background: #fff;
  border: 2px solid $border-color;

  &.has-dropdown-filtering {
    $dropdown-arrow-width: 15px;

    // Without search icon
    & .input {
      padding-left: calc(20px + #{$dropdown-arrow-width});
    }

    // With search icon
    & .search-icon {
      & ~ input {
        padding-left: calc(50px + #{$dropdown-arrow-width});
      }
    }

    & img {
      left: calc(16px + #{$dropdown-arrow-width});
    }
  }

  & input {
    @include mixins.ellipsis;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    background: transparent;
    border: none;
    outline: none;
    outline-style: none;
  }

  & img {
    position: absolute;
    left: 16px;
  }

  // Variations
  &.square {
    height: 54px;
    border-radius: 6px;

    & img {
      top: 11px;
    }
  }

  &.round {
    height: 40px;
    border-radius: 22px;

    & img {
      top: 4px;
    }
  }
}

.search-icon {
  & ~ input {
    padding-left: 50px;
  }
}

.clear {
  position: absolute;
  top: 8px;
  right: 16px;
  color: rgba($color-dark-grey, 0.7);
  transition: color 0.1s ease-in-out;

  &.square {
    top: 16px;
  }

  &:hover {
    color: rgba($color-dark-grey, 1);
  }
}

.dropdown-arrow {
  position: absolute;
  left: 15px;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;

  &:hover {
    transform: scale3d(1.1, 1.1, 1);
  }

  &:active {
    transform: scale3d(1, 1, 1);
  }
}
</style>