<template>
  <div>
    <div class="text-input" :class="[customClass, disabled ? 'not-allowed' : '']">
      <textarea
        :class="[{ 'disable-expand': disableExpand }, { disabled: disabled }, { 'small-padding': smallPadding }]"
        required
        :tabindex="disabled ? -1 : ''"
        v-on:input="$emit('input', $event.target.value)"
        :value="value"
      />
      <div class="input-focused-indicator" :class="{ danger: invalidInput }"></div>
      <label>{{ label }}</label>
      <div class="label-cover"></div>
    </div>
    <span v-if="requiredInput && !hasContent" class="required-field">*{{ requiredText }}</span>
  </div>
</template>

<script>
export default {
  name: 'WsTextarea',
  props: {
    value: {
      type: [String, Number],
      default: ''
    },
    label: {
      type: [String, Number],
      default: '',
      required: true
    },
    disableExpand: {
      type: Boolean,
      default: false
    },
    customClass: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    requiredInput: {
      type: Boolean,
      default: false
    },
    smallPadding: {
      type: Boolean,
      default: false
    },
    invalidInput: {
      type: Boolean,
      default: false
    },
    requiredText: {
      type: String,
      default: 'Required'
    }
  }
};
</script>

<style lang="scss" scoped>
@use '../styles/mixins.scss';
@import '../styles/variables.scss';

.text-input {
  position: relative;

  background: #fff;
  border: 1px solid $border-color;
  border-radius: 6px;
  outline: none;
  overflow: hidden;

  & textarea {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100px;
    padding-top: 24px;
    padding-left: $large-padding;
    padding-right: $large-padding;
    color: $color-blue;
    font-size: 14px;
    border: none;
    border-radius: 6px;

    &.small-padding {
      padding-left: $small-padding;

      & ~ label {
        padding-left: $small-padding;
        width: calc(100% - #{$small-padding});
      }
    }
  }

  & label {
    @include mixins.ellipsis;
    width: calc(100% - #{$large-padding});
    position: absolute;
    top: 16px;
    padding-left: $large-padding;
    color: $color-dark-grey;
    font: 14px;
    font-weight: normal;
    transition: 0.2s ease all;
    pointer-events: none;
  }

  & textarea:focus ~ label,
  & textarea:valid ~ label {
    top: 10px;
    color: $color-dark-grey;
    font-size: 11px;
    text-transform: uppercase;
    z-index: 2;
  }

  // Make sure that if there is more text than can be contained in the textarea,
  // the label will have a white background color that covers the "overflow" of text on top
  .label-cover {
    position: absolute;
    opacity: 0;
    inset: 0 calc(#{$large-padding} - 2px) 0 auto; // Give some spacing to the scrollbar
    height: 24px;
    pointer-events: none;
  }

  & textarea:focus ~ .label-cover,
  & textarea:valid ~ .label-cover {
    width: 100%;
    opacity: 1;
    z-index: 1;
    background-color: #fff;
  }

  .input-focused-indicator {
    position: absolute;
    opacity: 0;
    left: 0;
    height: 0;
    width: 0;
    bottom: 0;
    background-color: $webshipper-yellow;
    transition: height 0.2s ease-in-out;

    &.danger {
      background-color: $color-red;
    }
  }

  // Set active state on bottom of input-field
  & textarea:focus {
    outline: none;
    & ~ .input-focused-indicator {
      opacity: 1;
      height: 3px;
      width: 100%;
    }
  }
}

.disable-expand {
  resize: none;
}

.disabled {
  pointer-events: none;
}

.not-allowed {
  background: $background-color;
  cursor: not-allowed;

  & textarea {
    background-color: transparent;
    resize: none;
  }
}

.required-field {
  padding-left: 20px;
  margin-bottom: 50px;
  color: $color-red;
  font-size: 12px;
}
</style>