<template>
  <div class="toggle-container" :class="{ disabled: disabled }">
    <span v-if="label && !labelRight">{{ label }}</span>
    <label class="switch">
      <transition name="slide-fade">
        <img v-if="value" :src="checkmark" class="floating-check" />
      </transition>
      <input :disabled="disabled" type="checkbox" :checked="value" @click="handleClick" />
      <span class="slider round"></span>
    </label>
    <span class="margin-left" v-if="label && labelRight">{{ label }}</span>
  </div>
</template>

<script>
import checkmark from '../../assets/icons/status/done.svg';

export default {
  name: 'WsToggleSwitch',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      required: false,
      default: ''
    },
    labelRight: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      checkmark
    };
  },
  methods: {
    handleClick(event) {
      if (!this.disabled) {
        this.$emit('input', event.target.checked);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@use '../styles/mixins.scss';
@import '../styles/variables.scss';

.toggle-container {
  display: flex;
  align-items: center;
  span {
    padding-right: 10px;
  }

  &.disabled {
    & span,
    & label {
      cursor: not-allowed;
    }
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  margin: 0;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e1e5ee;
  transition: 0.4s;
  cursor: pointer;

  -webkit-transition: 0.4s;
}

.slider:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: $color-dark-grey;
  transition: 0.4s;

  -webkit-transition: 0.4s;
}

input:checked + .slider {
  background-color: $button-active;
  border-color: $button-active;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e1e5ee;
}

input:checked + .slider:before {
  background-color: #fff;
  transform: translateX(22px);

  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border: 1px solid #e1e5ee;
  border-radius: 22px;
}

.slider.round:before {
  border-radius: 50%;
}

.floating-check {
  @include mixins.toWhite();
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  color: #fff;
}

.margin-left {
  margin-left: 10px;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.2s ease-in-out;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(-22px);
  opacity: 0;
}
</style>