<template>
  <div class="tabs" :style="widthVars">
    <div class="tabs__container">
      <!-- Class: 'tab-selected' is added along with the index to know how to transform slider
             e.g. 'tab-selected.1' or 'tab-selected.2' -->
      <li
        class="tab-item"
        ref="tabItems"
        v-for="(tab, index) in tabs"
        @click="selectTab(index)"
        :key="index"
        :class="[
          index === selectedIndex ? `tab-selected-${index}` : '',
          disabledTabs.includes(index) ? 'disabled' : ''
        ]"
      >
        <span class="tab-item__text">{{ tab.title }}</span>
      </li>
      <li class="slider">
        <div class="slider__line"></div>
      </li>
    </div>
    <!-- Add a gap between tap-menu and the tap-content -->
    <div class="gap-to-slider">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
  name: 'WsTabsGroup',
  props: {
    selectedTab: {
      type: Number,
      default: 0
    },
    disabledTabs: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      selectedIndex: 0,
      tabs: [],
      tabItems: null,
      sliderUpdater: false
    };
  },
  mounted() {
    this.selectTab(this.selectedTab);
    this.$nextTick(() => {
      this.tabItems = this.$refs.tabItems;
    });

    // Update width of slider after 1 second as translations might not load instantly, also same for Pendo..
    setTimeout(() => {
      this.updateWidthOfSlider();
    }, 1000);
  },
  methods: {
    selectTab(tabIndex) {
      if (this.disabledTabs.includes(tabIndex)) {
        return;
      }
      this.selectedIndex = tabIndex;
      this.$emit('change', tabIndex);

      this.tabs.forEach(function (tab, index) {
        tab.isActive = index === tabIndex;
      });
      this.$nextTick(() => {
        this.updateWidthOfSlider();
      });
    },
    /**
     * Used as a way to recalculate withVars computed property
     */
    updateWidthOfSlider() {
      this.sliderUpdater = !this.sliderUpdater;
    }
  },
  created() {
    this.tabs = this.$children;
  },
  computed: {
    widthVars() {
      if (_.isEmpty(this.tabItems)) {
        return;
      }
      if (this.sliderUpdater) {
        // Used to manually update the width of the slider
      }

      let toReturn = {};

      // Get the width of each tab-item to use when transitioning slider
      const documentItems = document.getElementsByClassName('tab-item');

      this.tabItems?.forEach((tabItem, index) => {
        toReturn[`--width-${index + 1}`] = documentItems[index].clientWidth + 'px';
      });

      return toReturn;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/variables.scss";
$border-radius: 22px;

.tabs {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;

  &__container {
    position: relative;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }
}

.tab-item {
  display: inline-block;
  padding: 12px 20px;
  text-align: center;
  white-space: nowrap;
  border-radius: $border-radius;
  cursor: pointer;
  user-select: none;

  &__text {
    color: $webshipperblue;
    font-weight: 600;
    transition: color .2s ease-in-out;

    &:hover {
      color: $button-active;
    }
  }

  &.disabled {
    cursor: not-allowed;

    & > .tab-item__text {
      color: $background-color;

      &:hover {
        color: $background-color;
      }
    }
  }
}

// Find list-item that has a class that contains 'tab-selected'
li[class*="tab-selected"] .tab-item__text {
  height: 100%;
  color: $button-active;
}

.limit-height {
  overflow-y: scroll;
  max-height: 700px;
}

.slider {
  position: absolute;
  bottom: 0;
  height: 5px;
  padding-right: 10px;
  padding-left: 10px;
  transition: transform .25s ease-in-out, color .25s, width .25s ease-in-out;

  &__line {
    width: 100%;
    height: 100%;
    background: $button-active;
    border-radius: 20px;
    transform: translateY(3px);
  }
}

.gap-to-slider {
  margin-top: 25px;
}

// ##########################################################################################
//
// The slider allows up to 5 different sizes, so the css will be a bit repetitive..
// Logic: Find the amount of children between :first-child and :nth-last-child().
// Based on the number of children, we can calculate the transition distance (done in js)
// and then sent through :style on the .tabs div.
//
// ##########################################################################################

// ------------------- One item -------------------
.tab-item:first-child:nth-last-child(2) ~ .slider {
  width: 100%;
}

// ------------------- Two items -------------------
.tab-item:first-child:nth-last-child(3) {
  &.tab-selected-0 ~ .slider {
    width: var(--width-1);
    transform: translateX(0);
  }
  & ~ .tab-selected-1 ~ .slider {
    width: var(--width-2);
    transform: translateX(var(--width-1));
  }
}

// ------------------- Three items -------------------
.tab-item:first-child:nth-last-child(4) {
  &.tab-selected-0 ~ .slider {
    width: var(--width-1);
    transform: translateX(0);
  }
  & ~ .tab-selected-1 ~ .slider {
    width: var(--width-2);
    transform: translateX(var(--width-1));
  }
  & ~ .tab-selected-2 ~ .slider {
    width: var(--width-3);
    transform: translateX(calc(var(--width-1) + var(--width-2)));
  }
}

// ------------------- Four items -------------------
.tab-item:first-child:nth-last-child(5) {
  &.tab-selected-0 ~ .slider {
    width: var(--width-1);
    transform: translateX(0);
  }
  & ~ .tab-selected-1 ~ .slider {
    width: var(--width-2);
    transform: translateX(var(--width-1));
  }
  & ~ .tab-selected-2 ~ .slider {
    width: var(--width-3);
    transform: translateX(calc(var(--width-1) + var(--width-2)));
  }
  & ~ .tab-selected-3 ~ .slider {
    width: var(--width-4);
    transform: translateX(calc(var(--width-1) + var(--width-2) + var(--width-3)));
  }
}

// ------------------- Five items -------------------
.tab-item:first-child:nth-last-child(6) {
  &.tab-selected-0 ~ .slider {
    width: var(--width-1);
    transform: translateX(0);
  }
  & ~ .tab-selected-1 ~ .slider {
    width: var(--width-2);
    transform: translateX(var(--width-1));
  }
  & ~ .tab-selected-2 ~ .slider {
    width: var(--width-3);
    transform: translateX(calc(var(--width-1) + var(--width-2)));
  }
  & ~ .tab-selected-3 ~ .slider {
    width: var(--width-4);
    transform: translateX(calc(var(--width-1) + var(--width-2) + var(--width-3)));
  }
  & ~ .tab-selected-4 ~ .slider {
    width: var(--width-5);
    transform: translateX(calc(var(--width-1) + var(--width-2) + var(--width-3) + var(--width-4)));
  }
}
</style>