<template>
  <div
    class="action-button-wrapper"
    :class="{ 'disabled-wrapper': disabled || computedIsLoading, 'full-width': fullWidth }"
  >
    <div
      :class="{
        'btn-group dropdown-split': dropdownSplit,
        dropup: expandDirection.toLowerCase() === 'top',
        'full-width': fullWidth
      }"
    >
      <!-- Place dropdown before to be able to target using css sibling operator (~) -->
      <div v-if="dropdown || dropdownSplit" class="dropdown-menu dropdown-menu-left">
        <slot></slot>
      </div>

      <button
        ref="actionButton"
        :disabled="disabled"
        type="button"
        :class="classes"
        :style="(style, [computedIsLoading ? { minWidth: actionButtonWidth + 'px' } : ''])"
        :data-toggle="isDropDown"
        @click="debouncedClick($event)"
      >
        <span v-if="plus" class="plus">+</span>
        {{ !computedIsLoading ? label : '' }}
        <template v-if="computedIsLoading">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="sr-only"> </span>
        </template>
        <slot v-if="!(dropdown || dropdownSplit)"></slot>
      </button>

      <button
        v-if="dropdownSplit"
        :class="[classes, 'dropdown-toggle dropdown-toggle-split']"
        data-toggle="dropdown"
        :disabled="disabled"
        :style="style"
      ></button>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
  name: 'WsActionButton',
  props: {
    isLoading: {
      type: Boolean,
      required: false
    },
    label: {
      type: String,
      required: false
    },
    primary: {
      type: Boolean,
      default: false
    },
    danger: {
      type: Boolean,
      default: false
    },
    plus: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    hideBorder: {
      type: Boolean,
      default: false
    },
    minor: {
      type: Boolean,
      default: false
    },
    dropdown: {
      type: Boolean,
      default: false
    },
    dropdownSplit: {
      type: Boolean,
      default: false
    },
    expandDirection: {
      type: String,
      default: 'bottom',
      validator(value) {
        return ['top', 'bottom'].includes(value.toLowerCase());
      }
    },
    size: {
      type: String,
      default: 'large',
      validator(value) {
        return ['small', 'large'].includes(value.toLowerCase());
      }
    },
    backgroundColor: {
      type: String
    },
    fullWidth: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      actionButtonWidth: '',
      localIsLoading: false
    };
  },
  methods: {
    /**
     * Method for clicking. It will either use callback to see if it is loading, or will simply click.
     * Cannot be clicked while it is loading. Also, button can only be pressed once per second.
     */
    debouncedClick: _.debounce(
      async function (event) {
        // Don't click me while I am loading!
        if (this.computedIsLoading || this.disabled) {
          return;
        }
        if (this.$listeners.click) {
          this.localIsLoading = true;
          try {
            await this.$listeners.click(event);
          } finally {
            this.localIsLoading = false;
          }
        } else {
          this.$emit('click', event);
        }
      },
      1000,
      { leading: true }
    )
  },
  computed: {
    classes() {
      return {
        'ws-storybook-button': true,
        'ws-storybook-button--primary': !this.minor && this.primary,
        'ws-storybook-button--danger': this.danger,
        'ws-storybook-button--plus': this.plus,
        'hide-border': this.hideBorder,
        'ws-storybook-button--minor': this.minor,
        'ws-storybook-button--secondary': !this.minor && !this.primary && !this.danger && !this.plus,
        [`ws-storybook-button--${this.size}`]: true,
        'dropdown-toggle': this.dropdown,
        disabled: this.disabled,
        'd-flex justify-content-center': this.localIsLoading,
        'full-width': this.fullWidth
      };
    },
    style() {
      return { backgroundColor: this.backgroundColor };
    },
    isDropDown() {
      return this.dropdown ? 'dropdown' : '';
    },
    computedIsLoading() {
      return this.isLoading || this.localIsLoading;
    }
  },
  mounted() {
    this.actionButtonWidth = this.$refs.actionButton?.offsetWidth;
  },
  watch: {
    localIsLoading(newValue, oldValue) {
      this.actionButtonWidth = this.$refs.actionButton?.offsetWidth;
    }
  }
};
</script>

<style scoped lang="scss">
@import '../styles/variables.scss';

.action-button-wrapper {
  display: inline-block;
  box-sizing: border-box;
  &.disabled-wrapper {
    cursor: not-allowed;
  }
  &.show {
    .dropdown-toggle::after {
      transform: rotate(180deg);
    }
  }
}

.ws-storybook-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  font-family: $font-family-sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  border: 0;
  border-radius: $button-large / 2;
  cursor: pointer;

  -webkit-appearance: none;

  &.dropdown-toggle-split {
    margin-left: -1px;
  }
}

.ws-storybook-button--primary {
  color: $webshipperblue;
  background-color: white;
  transition-duration: 0.2s;
  &:hover {
    background-color: $color-light-grey;
    transition-duration: 0.2s;
  }
}

.ws-storybook-button--danger {
  color: white;
  background-color: $color-red;
  transition-duration: 0.2s;
  &:hover {
    background-color: $color-light-red;
    transition-duration: 0.2s;
  }
}
.ws-storybook-button--secondary,
.ws-storybook-button--plus {
  color: white;
  background-color: $webshipperblue;
  box-shadow: 0 0 0 1px white;
  transition-duration: 0.2s;
  .plus {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0 0 0 1px;
    margin: 4px 8px 4px -5px;
    font-size: 12px;
    font-weight: lighter;
    line-height: 20px;
    text-align: center;
    background-color: transparent;
    box-shadow: $yellow 0 0 0 1px inset;
    border-radius: 50%;
  }
  &:hover {
    background-color: $color-blue;
    transition-duration: 0.2s;
  }
}

.ws-storybook-button--minor {
  color: $webshipperblue;
  background-color: white;
  border: 2px solid $border-color;
  transition-duration: 0.2s;
  &:hover {
    background-color: $color-light-grey;
    transition-duration: 0.2s;
  }
}
.ws-storybook-button--small {
  height: $button-small;
  padding: 0 16px;
  font-size: 10px;
}
.ws-storybook-button--large {
  height: $button-large;
  padding: 10px 20px 10px 20px;
  font-size: 12px;
}

.btn-group.dropdown-split {
  .ws-storybook-button {
    &:nth-child(2) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:nth-child(3) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.disabled {
  background-color: $color-dark-grey;
  cursor: not-allowed;
  pointer-events: none;
}
.hide-border {
  box-shadow: none;
  border: none;
}

.dropdown-menu {
  padding: 0;
  margin-top: -2px;
  border-color: $border-color;
  border-top-left-radius: 0;
}

.action-button-wrapper {
  &.show {
    & .expand-bottom {
      // Make sure that button only has a z-index, when it is actually a dropdown that is expanded
      z-index: 2;
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    & .expand-top {
      z-index: 2;
      border-top: none;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.full-width {
  width: 100%;

  & button {
    display: flex;
    justify-content: center;
  }
}
</style>
