<template>
  <div>
    <div
      class="rounded-button"
      :style="style"
      :title="tooltip"
      :class="classes"
      :data-toggle="isDropDown"
      @click="debouncedClick"
      type="button"
    >
      <div class="rounded-button__content">
        <img v-if="icon && icon_position === 'left'" :src="icon" :class="iconClasses" />
        <span>{{ text }}</span>
        <img v-if="icon && icon_position === 'right'" :src="icon" :class="iconClasses" />
      </div>
    </div>
    <div v-if="dropdown" class="dropdown-menu dropdown-menu-left" :class="{ disabled: disabled }">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
  name: 'WsIconButton',
  props: {
    text: {
      type: String,
      default: null
    },
    icon: {
      type: String,
      default: null
    },
    icon_position: {
      type: String,
      default: 'left',
      validator(value) {
        return ['left', 'right'].includes(value);
      }
    },
    mirror: {
      type: String,
      validator(value) {
        return ['horizontal', 'vertical'].includes(value);
      }
    },
    background_color: {
      type: String,
      default: null
    },
    size: {
      type: String,
      default: 'large',
      validator(value) {
        return ['small', 'large'].includes(value);
      }
    },
    disabled: {
      type: Boolean,
      default: false
    },
    dropdown: {
      type: Boolean,
      default: false
    },
    tooltip: {
      type: String,
      default: undefined
    },
    disableIconHover: {
      type: Boolean,
      default: false
    },
    active: {
      type: Boolean,
      default: false
    },
    hideBorder: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    style() {
      if (this.background_color) {
        return 'background-color: ' + this.background_color;
      }
      return '';
    },
    classes() {
      return {
        [`rounded-button--${this.size}`]: true,
        'with-text': !_.isEmpty(this.text),
        'dropdown-toggle': this.dropdown,
        disabled: this.disabled,
        active: this.active,
        'no-border': this.hideBorder
      };
    },
    /**
     * Returns classes relevant for styling of button
     */
    iconClasses() {
      return {
        horizontal: this.mirror === 'horizontal',
        vertical: this.mirror === 'vertical',
        'disable-hover': this.disableIconHover
      };
    },
    isDropDown() {
      return this.dropdown ? 'dropdown' : '';
    }
  },
  methods: {
    /**
     * Only emits when disabled is false
     * Debounced method to avoid accidentally creating multiple items.
     */
    debouncedClick: _.debounce(
      function (event) {
        if (this.disabled) {
          return;
        }
        this.$emit('click', event);
      },
      1000,
      { leading: true }
    )
  }
};
</script>

<style lang="scss" scoped>
@use '../styles/mixins.scss';
@import '../styles/variables.scss';
$border-radius: 22px;

.rounded-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $webshipperblue;
  font-weight: 600;
  border: solid 2px $border-color;
  border-radius: $border-radius;
  transition: all 0.2s ease-in-out;

  -webkit-appearance: none;

  &.no-border {
    border: none;
  }

  &__content {
    display: flex;
    padding: 6px;
    border-radius: $border-radius;
  }

  &.with-text {
    width: fit-content;
    padding: 0 4px;
    border-radius: 24px;

    // Add a gap when there is text in the button
    & > .rounded-button__content {
      gap: 8px;
    }
  }

  // Variations
  &--small {
    width: $button-small;
    height: $button-small;
    font-size: 10px;

    & img {
      width: 12px;
      height: 12px;
    }
  }

  &--large {
    width: $button-large;
    height: $button-large;
    font-size: 12px;

    & img {
      width: 16px;
      height: 16px;
    }
  }
}

.rounded-button:hover:not(.disabled),
.rounded-button.active:not(.disabled) {
  background-color: $button-active !important;
  border-color: $button-active;
}

.rounded-button:hover:not(.disabled) img:not(.disable-hover),
.rounded-button:hover:not(.disabled) span,
.rounded-button.active:not(.disabled) img:not(.disable-hover),
.rounded-button.active:not(.disabled) span {
  @include mixins.toWhite();
}

.dropdown-toggle::after {
  content: none;
}

// Make sure that the dropdown is actually visible
.dropdown-menu {
  z-index: 10;
  padding: 0;
  border: 1px solid #dfe2e8;
  border-radius: 10px;

  &.no-border {
    border: none;
  }

  & > :hover {
    background-color: $background-color;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;

    &:first-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:last-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

// Make sure that the button has active-color when dropdown is open
.show > .rounded-button {
  background-color: $button-active;
  border-color: $button-active;

  & img:not(.disable-hover) {
    @include mixins.toWhite();
  }
}

// Flip icon horizontally
.horizontal {
  transform: scaleX(-1);
}

// Flip icon vertically
.vertical {
  transform: scaleY(-1);
}

.disabled {
  background: $background-color;
  cursor: not-allowed;
}
</style>