<template>
  <div class="quantity-form" :class="{ 'not-allowed': disabled }">
    <div class="d-flex value-container" :class="{ disabled: disabled }">
      <i class="fa fa-minus px-4 py-3" type="button" @click="decrement" />
      <div class="text-center">
        <label v-if="label" class="mb-0">
          {{ label }}
        </label>
        <p class="mb-0">
          {{ value }} <template v-if="max"> / {{ max }} </template>
        </p>
      </div>
      <i class="fa fa-plus px-4 py-3" type="button" @click="increment" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'WsQuantityButton',
  props: {
    value: {
      type: Number
    },
    label: {
      type: [Number, String]
    },
    min: {
      type: Number
    },
    max: {
      type: Number
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    localValue: {
      get: function () {
        return this.value;
      },
      set: function (newValue) {
        this.$emit('input', newValue);
      }
    }
  },
  methods: {
    /**
     * Increments the number, but not any higher than this.max if it is set
     */
    increment() {
      if (this.disabled) {
        return;
      }

      // Don't increment if max and localValue are identical
      if (this.max || this.max === 0) {
        if (this.localValue + 1 > this.max) {
          return;
        }
      }
      // Make sure that number is defined
      if (this.localValue === null || this.localValue === undefined || isNaN(this.localValue)) {
        this.localValue = 0;
        this.$forceUpdate();
      }
      this.$nextTick(() => {
        this.localValue++;
      });
    },
    /**
     * Decrements the number, but not any lower than this.min if it is set
     */
    decrement() {
      if (this.disabled) {
        return;
      }

      // Don't decrement if max and localValue are identical
      if (this.min || this.min === 0) {
        if (this.localValue - 1 < this.min) {
          return;
        }
      }
      // Make sure that number is defined
      if (this.localValue === null || this.localValue === undefined || isNaN(this.localValue)) {
        this.localValue = 0;
        this.$forceUpdate();
      }

      this.$nextTick(() => {
        this.localValue--;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@use '../styles/mixins.scss';
@import '../styles/variables.scss';
$border-radius: 8px;

.quantity-form {
  display: flex;
  height: 54px;
  background-color: #fff;
  border: solid 1px $border-color;
  border-radius: $border-radius;
  overflow: hidden;

  & label {
    @include mixins.ellipsis;
    color: $color-dark-grey;
    font-size: 11px;
    text-transform: uppercase;
    pointer-events: none;
  }

  & p {
    pointer-events: none;
  }

  & .value-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.disabled {
  pointer-events: none;
}

.not-allowed {
  background: $background-color;
  cursor: not-allowed;
}
</style>