<template>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <button
          class="btn btn-outline-primary"
          @click="openColorPicker()"
          type="button"
        >
          <span>{{ label }}</span>
        </button>
        <input
          class="color-input"
          type="color"
          :value="valueModel"
          ref="picker"
          @input="update($event)"
        />
      </div>
      <input
        class="form-control"
        type="text"
        :value="valueModel"
        :style="{
          backgroundColor: valueModel,
          borderColor: valueModel,
          color: invertColor(valueModel)
        }"
        @input="update($event)"
      />
    </div>
  </div>
</template>


<script>
export default {
  name: "WsColorPickerWithInput",
  props: {
    value: {
      type: String,
      required: false
    },
    defaultValue: {
      type: String,
      required: false,
      default: null
    },
    label: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      validInput: true
    };
  },
  computed: {
    valueModel: {
      get() {
        if (this.value) {
          return this.value;
        }
        if (this.defaultValue) {
          return this.defaultValue;
        }

        return null;
      },
      set(value) {
        this.$emit("input", value);
      }
    }
  },
  methods: {
    openColorPicker() {
      this.$refs.picker.click();
    },
    /**
     * Tests if a hex value is valid
     */
    update(event) {
      if (this.validHex(event.target.value)) {
        this.$emit("input", event.target.value);
        this.validInput = true;
      } else {
        this.validInput = false;
      }
    },
    validHex(string) {
      return /^#[0-9A-F]{6}$/i.test(string);
    },
    revert(event) {
      this.$emit("input", event);
      this.validInput = true;
    },
    /**
     * Calculate if black or white is best contrast for a given HEX color
     *
     * @source: https://stackoverflow.com/a/35970186
     */
    invertColor(hex) {
      if (!hex) return;
      if (hex.indexOf("#") === 0) {
        hex = hex.slice(1);
      }

      if (hex.length === 3) {
        hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
      }
      if (hex.length !== 6) {
        return "#000000";
      }

      const r = parseInt(hex.slice(0, 2), 16);
      const g = parseInt(hex.slice(2, 4), 16);
      const b = parseInt(hex.slice(4, 6), 16);

      return r * 0.299 + g * 0.587 + b * 0.114 > 186 ? "#000000" : "#FFFFFF";
    }
  }
};
</script>

<style scoped lang="scss">
@import "../../styles/variables.scss";

.color-input {
  position: absolute;
  bottom: 0;
  z-index: -1;
  display: block;
}
.btn {
  background-color: white;
  border-radius: 0;
  &:hover {
    background-color: $webshipperblue;
  }
}
</style>
