<template>
  <div class="unit-container">
    <WsDropdown
      ref="dropdown"
      :options="lengthUnits"
      :value="value"
      :smallPadding="smallPadding"
      :bold="true"
      :hide-search="true"
      :disabled="disabled"
      :dropup="dropup"
      @input="emitEvent"
      @blur="$emit('blur')"
      @focus="$emit('focus')"
    />
  </div>
</template>

<script>
import WsDropdown from '../dropdown.vue';
export default {
  name: 'WsLengthUnitPicker',
  props: {
    value: {
      type: String,
      default: 'cm'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    smallPadding: {
      type: Boolean,
      default: false
    },
    dropup: {
      type: Boolean,
      default: false
    }
  },
  components: {
    WsDropdown
  },
  data() {
    return {
      lengthUnits: [
        {
          label: `cm`,
          value: 'cm'
        },
        {
          label: 'm',
          value: 'm'
        },
        {
          label: 'in',
          value: 'in'
        },
        {
          label: 'ft',
          value: 'ft'
        }
      ]
    };
  },
  methods: {
    emitEvent(value) {
      this.$emit('input', value);
    },
    focus() {
      this.$refs.dropdown.focus();
    }
  }
};
</script>

<style lang="scss" scoped>
.unit-container {
  min-width: 80px;
  max-width: 80px;
}
</style>
