<template>
  <div class="unit-container">
    <WsDropdown
      ref="dropdown"
      :options="weightUnits"
      :value="value"
      :small-padding="smallPadding"
      :bold="true"
      :hide-search="true"
      :disabled="disabled"
      :dropup="dropup"
      @input="emitEvent"
      @blur="$emit('blur')"
      @focus="$emit('focus')"
    />
  </div>
</template>

<script>
import WsDropdown from '../dropdown.vue';
export default {
  name: 'WsWeightUnitPicker',
  props: {
    value: {
      type: String,
      default: 'g'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    smallPadding: {
      type: Boolean,
      default: false
    },
    dropup: {
      type: Boolean,
      default: false
    }
  },
  components: {
    WsDropdown
  },
  data() {
    return {
      weightUnits: [
        {
          label: 'g',
          value: 'g'
        },
        {
          label: 'kg',
          value: 'kg'
        },
        {
          label: 'lbs',
          value: 'lbs'
        },
        {
          label: 'oz',
          value: 'oz'
        }
      ]
    };
  },
  methods: {
    emitEvent(value) {
      this.$emit('input', value);
    },
    focus() {
      this.$refs.dropdown.focus();
    }
  }
};
</script>

<style lang="scss" scoped>
.unit-container {
  min-width: 80px;
  max-width: 80px;
}
</style>
