
.slide-up {
   animation: 0.5s ease-out slide-up;
}

.scale-in {
   animation: 0.5s ease-out scale-in;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s, transform 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(2%);
}




.fade-scale-enter, .fade-scale-leave-to {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.fade-scale-leave-active {
  position: absolute;
}




@keyframes slide-up {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0.5,0.5);
  }
  100% {
    transform: scale(1,1);
  }
}

.list-complete-item {
  transition: all 0.2s;
  display: block;
}
.list-complete-enter, .list-complete-leave-to
  /* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0.3,0.3);
}
.list-complete-leave-active {
  width: 100%;
  position: absolute;
}
