// Adds three dots when content is overflowing
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin toWhite {
  filter: brightness(0) saturate(100%) invert(100%);
}

@mixin toBlack {
  filter: brightness(0) saturate(100%);
}

// Also referred to as $button active: #e0a681 (color-light-orange)
@mixin toOrange {
  filter: brightness(0) saturate(100%) invert(77%) sepia(11%) saturate(1319%) hue-rotate(337deg) brightness(91%) contrast(93%);
}

// Only with a loss of 2.5, referred to as $color-red
@mixin toRed {
  filter: brightness(0) saturate(100%) invert(12%) sepia(85%) saturate(3763%) hue-rotate(351deg) brightness(104%) contrast(93%);
}

// $status-not-done or just $color-yellow: #e6b900
@mixin toYellow {
  filter: brightness(0) saturate(100%) invert(84%) sepia(17%) saturate(6803%) hue-rotate(3deg) brightness(94%) contrast(102%);
}

// $background-color, or $color-light-grey: #f4f4f4
@mixin toLightGrey {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(302%) hue-rotate(38deg) brightness(116%) contrast(91%);
}

// $color-medium-grey: #e2e5e6
@mixin toMediumGrey {
  filter: brightness(0) saturate(100%) invert(93%) sepia(13%) saturate(37%) hue-rotate(148deg) brightness(101%) contrast(86%);
}

// $color-dark-grey: #788598
@mixin toDarkGrey {
  filter: brightness(0) saturate(100%) invert(52%) sepia(19%) saturate(355%) hue-rotate(176deg) brightness(96%) contrast(87%);
}

@mixin toStarColor {
  filter: brightness(0) saturate(100%) invert(55%) sepia(67%) saturate(2543%) hue-rotate(353deg) brightness(102%) contrast(92%);
}

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

// Custom Media queries mixins
// @include respondAbove(sm) {}
@mixin respondAbove($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}

//
//  RESPOND BELOW
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respondBelow(sm) {}
@mixin respondBelow($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}
//
//  RESPOND BETWEEN
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respondBetween(sm, md) {}
@mixin respondBetween($lower, $upper) {
  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }

    // If one or both of the breakpoints don't exist.
  } @else {
    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) == false) {
      // Log a warning.
      @warn "Your lower breakpoint was invalid: #{$lower}.";
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) == false) {
      // Log a warning.
      @warn "Your upper breakpoint was invalid: #{$upper}.";
    }
  }
}
