.webshipper-logo {
  height: 3rem;
  background-image: url('../images/webshipper-white.svg');
  background-position: left left;
  background-repeat: no-repeat;
  background-size: contain;
}

.sidebar {

  $height: 100vh;

  background-color: $webshipperblue;
  overflow-x: hidden;

  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;

  top: 0rem;
  height: $height;
  color: white;

  max-width: 17rem;
  min-width: 5rem;

  transition: max-width 0.3s ease-in-out;

  .sidebar-header {
    transition: none;
    min-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.8rem;
    margin-right: 3rem;

    .brand-logo {
      transition: max-width 0.3s ease-in-out;
      max-width: 5rem;
      height: auto;
    }

  }

  .sm-visible {
    display: none;
  }

  @mixin sm() {
    max-width: 5rem;



    .sidebar-header .brand-logo {
      max-width: 3rem;
      height: auto;
    }

    .sm-visible {
      display: block;
    }

    .sm-hidden {
      display: none;
    }

    .sidebar-menu .nav-link .nav-link-text {
      display: none;
    }

    .sidebar-header {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .sm-fill {
      flex-direction: column;
      .col {
        margin-bottom: 0.8em;
        flex-basis: 100%;
      }
    }
  }

  &.sm {
    @include sm();
  }

  @include media-breakpoint-down(lg) {
    max-width: 15rem;
  }

  @include media-breakpoint-down(md) {
    .sidebar-collapse.sidebar-collapse.sidebar-collapse {
      display: none;
    }
    @include sm();
  }

  @include media-breakpoint-down(xs) {
    transition: left 0.2s ease-out;
    position: fixed;
    left: -5rem;
    z-index: 9999;

    &.in {
      left: 0
    }
  }


  .sidebar-collapse {
    position: absolute;
    height: $height;
    right: 8px;
    top: 0;
    display: flex;
    align-items: center;
    color: lighten($webshipperblue, 20);
    i {
      cursor: pointer;
    }

    i:hover {
      color: lighten($webshipperblue, 30);
    }
  }

  .sidebar-menu {
    .gravatar-wrapper{
        padding-left: 0rem !important;
        margin-left: -0.5rem !important;
        margin-bottom: 0.4rem;
    }
    .nav-link {
      padding: 0.3rem 0.6rem 0.1rem 1.5rem !important;
      padding-left: $spacer*1.6;
      color: white;

      transition: background-color 0.1s linear;

      &:hover {
        background-color: lighten($webshipperblue, 6)
      }

      a {
        color: white;
      }

      display: flex;

      .nav-logo {
        margin-right: 1.2rem;
        align-self: center;
        font-size: 1.5rem;
        line-height: 2rem;
        vertical-align: middle;
        padding-top: 0.2rem;
        min-width: 1.6rem;

      }
      .gravatar {
        margin-right: 1.6rem;
        img {
          margin-right: -1rem;
          border-radius: 50%;
          max-width: 2.5rem;
        }
      }
      .gravatar-text {
        line-height: 1rem !important;
        padding-top: 0.5rem;
        padding-right: 1rem;
        .small {
          color: darken($light, 30);
        }
      }

      border-left: 4px solid $webshipperblue;
      .nav-link-text {
        line-height: 2rem;
        vertical-align: middle;
        font-weight: 600;
      }

      &.active {
        background-color: lighten($webshipperblue, 5);
        border-left: 4px solid $yellow;

        &:hover {
          background-color: lighten($webshipperblue, 6)
        }

      }
    }


  }
}
