@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;600;800&display=swap");
$icon-font-path: "../fonts/";
$images-path: "../images/";

// Include font-awesome
$fa-font-path: "~font-awesome/fonts";
$background-light: #f8f9fa;
$background-dark: #f0f3f4;

// the ~ allows you to reference things in node_modules

@import "~/node_modules/bootstrap/scss/functions.scss";
@import "~/node_modules/font-awesome/scss/font-awesome.scss";
@import "./variables";
@import "~/node_modules/bootstrap/scss/bootstrap";
@import "~/node_modules/bootstrap-select/sass/bootstrap-select.scss";




.filter-tabs > .nav-pills > .nav-item {
  padding: 5px;
}

.filter-tabs > .nav-pills > .nav-item > .nav-link {
  margin-bottom: -7px;
}

.tab-list {
  width: 100%;
  border-bottom: 1px solid #f0f3f4 !important;
}

.workstation-wrapper > .nav-link-text > div {
  margin-top: 6px !important;
}


.break-words {
  word-break: break-all;
}

.background-box-extended {
  height: 12.4rem !important;
}

.breadcrumb-text .btn {
  background-color: white !important;
}

*[role="button"],
button {
  cursor: pointer;
}

h6 {
  font-size: .88rem;
  font-weight: 800;
}

.card-table th:last-child,
.card-table td:last-child {
  padding-right: 22px !important;
}
.card-table th:first-child,
.card-table td:first-child {
  padding-left: 21px !important;
}


.help-text {
  color: $lightblue;
  font-weight: 600;
}

.danger-text {
  color: $red;
  font-weight: 600;
}

.profile-dd .dropdown-item {
  color: black !important;
}

.sweet-modal.sweet-modal.sweet-modal {
  // Keep it "modal style" when even in full height
  max-height: 93vh;
}

.sweet-modal.is-visible {
  overflow: scroll !important;
}

.sweet-modal.is-alert .sweet-content.sweet-content.sweet-content {
  font-size: $font-size-base;
}

.sweet-title {
  padding-top: 20px;
}

.sweet-modal .sweet-box-actions .sweet-action-close:hover {
  background: $webshipperblue !important;
}

.vdp-datepicker {
  padding: .295rem .75rem;
}
.vdp-datepicker input {
  border: 0;
}

.scrollactive-item {
  margin-right: 1rem;
  color: lightgray;
  font-size: .8rem;
  font-weight: 700;
}
.scrollactive-item.is-active {
  color: black;
}

.hover-trigger {
  .show-on-hover {
    transition: opacity .2s ease-in;
    opacity: 0;
  }

  &:hover .show-on-hover {
    opacity: 1;
  }
}

.vl {
  display: block;
  overflow: visible;
  width: 0;
  height: 50px;
  border-left: 1px solid rgba(0, 0, 0, .1);
}

.vl-after {
  margin-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    overflow: visible;
    width: 0;
    height: 50px;
    border-left: 1px solid rgba(0, 0, 0, .1);
  }
}

.vl-before {
  margin-top: 50px;

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: block;
    overflow: visible;
    width: 0;
    height: 50px;
    border-left: 1px solid rgba(0, 0, 0, .1);
  }
}





.float-parent {
  position: relative;

  .float-label {
    position: absolute;
    top: 0;
    left: 100%;
    display: grid;
    height: 100%;
    padding-left: 10px;
    white-space: nowrap;

    place-content: center;
  }
}

.table thead th {
  border-bottom: 1px solid #dee2e6;
}


.spreadsheet {
  td,
  th {
    padding: 0;
    border: 1px solid #eee !important;
    .form-group {
      padding: 0;
      margin: 0;;
    }
    input.form-control {
      padding: 0;
      padding-left: .5rem;
      background-color: transparent;
      border: 0;
    }
  }

  th {
    padding: .5rem;
  }
}

.border-dashed.border-dashed {
  border-style: dashed;
}

code {
  padding: 2px 5px;
  color: #555;
  background-color: #f0f0f0;
}

.form-control::-webkit-input-placeholder {
  /* Chrome */
  color: $placeholders;
  font-style: italic;
}
.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: $placeholders;
  font-style: italic;
}
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: $placeholders;
  font-style: italic;
  opacity: 1;
}
.form-control:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: $placeholders;
  font-style: italic;
  opacity: 1;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $placeholders;
  font-style: italic;
  opacity: 1; /* Firefox */
}

.form-control.form-control-rounded,
.form-group-rounded {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.21);
  border: 1px solid #f9fafb;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 20px;
  transition: border-color .3s ease-in;

  &.invalid.error {
    border-color: #e6204d;
  }
  &:focus {
    border-color: rgba(0,0,0,.21);
  }
}

.form-group-rounded {
  padding: 1rem;
}

.status-header {
  overflow: hidden;
  max-width: 180px;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.background-box {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 8.7rem;
  background-color: $background-dark;
}

button .fa {
  margin-right: 5px;
  font-size: 16px;
}
.btn {
  font-size: 14px;
  font-weight: 600;
}

.table-secondary {
  color: black;
  background-color: $background-light;
}

.clickable {
  cursor: pointer;
}

.table thead th {
  font-weight: 700 !important;
  border-top: 0 !important;
}

.card-header {
  padding-top: .65rem;
  padding-bottom: .65rem;
  font-weight: 800;
  background-color: rgba(0, 0, 0, .01) !important;
  border-bottom: 1px solid rgba(0, 0, 0, .075) !important;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.code-wrapper {
  padding: .7rem;
  font-weight: 600;
  background-color: $light;
  border-radius: 3px;
}
.code-wrapper > pre {
  margin-bottom: 0;
  opacity: .7;
}

.dropdown-menu {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .10);
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 4px;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}


h5 {
  padding-bottom: .75rem;
  font-weight: 600;
}

.form-group label {
  font-weight: 500 !important;
}

.form-check label {
  font-weight: 500 !important;
}

label.label-strong {
  font-weight: 700 !important;
}

a.underline {
  padding-bottom: 0;
  text-decoration: underline;
  border-bottom: 0;
}

// Fix missing styling for checkboxes
.form-check {
  padding-left: 1.25rem;

  .form-check-label {
    padding-left: 0;
  }
}

.white-control {
  font-size: 1.3rem;
  font-weight: 800;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

button:focus {
  box-shadow: none !important;
}
.input-group-addon {
  min-width: 15px !important;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: rgba(9,32,41, .2);
}
.filter-tabs > .nav-pills > .nav-item > .nav-link.active {
  color: $webshipperblue;
  background: none;
  border-bottom: 4px solid $webshipperblue;
  border-radius: 0;
}

.breadcrumb-text {
  padding: 0;
  font-size: 20px;
  font-weight: 800;
  vertical-align: center;
}
.breadcrumb-text .fa {
  padding-right: 0;
  padding-bottom: 0;
  margin-top: 2px;
  margin-right: 0;
  font-size: 12px;
  font-weight: bold;
}
.breadcrumb-back {
  display: block;
  padding-top: 0;
  margin-top: 2px;
  color: rgba(9,32,41, .4);
  font-size: 12px;
  line-height: 12px;
  vertical-align: middle;
}
.breadcrumb-back:hover {
  text-decoration: underline;
}

.btn-settings {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.settings-item {
  padding: 10px;
  margin-top: 0;
}

.settings-item:hover {
  background-color: rgba(0,0,0,.07);
  border-radius: 3px;
  cursor: pointer;
}
.settings-icon {
  width: 38px;
  padding: .7rem;
  margin: 0;
  color: rgba(0,0,0,.35);
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  vertical-align: top;
  background-color: rgba(0,0,0,.06);
  border-radius: 5px;
}
.col-settings-icon {
  display: inline-block;
  width: 34%;
  max-width: 70px;
  vertical-align: top;
}
.col-settings-description {
  display: inline-block;
  width: 66%;
}
.col-settings-description h5 {
  color: $webshipperblue;
  font-size: 1rem!important;
  font-weight: 500;
}
.col-settings-description p {
  font-size: .8rem;
}
.sweet-modal .sweet-title > h2 {
  font-size: 20px;
}
.sweet-modal .sweet-title {
  height: 55px !important;
}
.sweet-title {
  padding-top: 15px;
}
.sweet-modal .sweet-box-actions .sweet-action-close,
.sweet-modal .sweet-box-actions .sweet-action-close svg {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  border-radius: 15% !important;
}

.image-upload {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 130px;
  line-height: 130px;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 1%;
}
.image-upload .content {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 90px;
  max-height: 90px;
}
.image-upload h5 {
  color: rgba(0, 0, 0, .30);
}
.image-upload.active {
  background-color: rgba(0,0,0,.1);
}
.image-upload img {
  vertical-align: top;
}
.image-footer {
  position: relative;
  bottom: 0;
  //vertical-align: middle;
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  line-height: 40px;
  background-color: rgba(0, 0, 0, .08);
}
.image-footer a {
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  vertical-align: middle;
}


button[disabled] {
  cursor: not-allowed;
}

body {
  font-family: Poppins, sans-serif;
  font-size: $font-size-base;
  letter-spacing: .009rem;
  background-color: $gray-100;
}

h4 {
  font-size: 1.3rem;
  font-weight: 800;
}

i.fa {
  transition: all .2s ease-in-out;
}

#nprogress .bar {
  background: $webshipperblue;
}

.underline {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 6px solid theme-color("secondary");
}

@keyframes slide-up {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

.list-group-item.list-group-item-spacer {
  height: 0;
  border-bottom: 1px solid #444;
}

.spacer-1em {
  display: inline-block;
  width: 1em;
}

.snackbar {
  $w: calc(100% / 3);
  @include media-breakpoint-down(sm) {
    width: 100%;
    margin: 0;;
  }
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: $w;
  padding: 15px;
  padding-left: 20px;
  margin-right: $w;
  margin-left: $w;
  font-weight: bold;
  border-radius: $border-radius;


  &.snackbar-danger {
    background-color: theme-color-level("danger", -10);
  }
}

.main-content {
  position: relative;
  min-height: 100vh;
}

.scroll-shadow {
  //  transition: all 0.2s ease-in;
  //box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.08);
  background-color: $background-dark;
}

body.scroll .scroll-shadow {
  background-color: $background-dark;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
}

table {
  border-top: none;
}

.no-point {
  pointer-events: none;
}

.breadcrumb {
  font-size: 1.2em;
  border-bottom: 1px solid #eee;
}

.bold {
  font-weight: 600;
}

.text-bolder {
  font-weight: 900;
  letter-spacing: .035rem;
  text-transform: uppercase;
}

.sortable-ghost {
  opacity: .5;
}


.hidden-ghost .sortable-ghost {
  display: none;
}

.card {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .10);
  border: 1px solid rgba(0, 0, 0, .125);
  border-width: 1px;
  border-radius: 4px;

  &.card-hover {
    transition: all .3s cubic-bezier(.25,.8,.25,1);

    &.hover {
      box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    }
  }



  & > .table:first-child {
    margin-top: 1px;
  }

  & > .table:first-child > thead:first-child > tr:first-child > th {
    padding-top: 10px;
    border-top: 0;
  }
}

.hide-empty:empty {
  display: none;
}

.navbar-light .btn-success {
  color: white;
}

.col-auth {
  height: 100vh;
  color: white;
  background-color: $webshipperblue;
}

a.link.link.link {
  color: $webshipperblue;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

body .sweet-modal {
  max-width: 900px;
}

.img-thumb {
  max-width: 40px;
  height: auto;

  &.img-thumb-lg {
    max-width: 80px;
  }
}

footer {
  min-height: 10rem;
  background-color: $gray-900;
}

.card-footer:empty {
  display: none;
}

.logo-header {
  height: 75px;
}

.alert-hover {
  position: fixed;
  right: 2rem;
  bottom: 5rem;
  z-index: 9999;
  width: 25%;
  min-width: 10rem;
  max-width: 50rem;

  .alert {
    box-shadow: 1px 2px 13px 2px rgba(0, 0, 0, .14);
    border: 0;
  }
}

table.table-no-borders td {
  border-top: none;
}

.alert {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .10);
  border-width: 0;
}


.alert-success,
.alert-warning {
  color: black;
}

.alert-success {
  color: white;
  background-color: #28a745;
}

.alert-white {
  background-color: white;
  border: 1px solid #cacaca !important;
}

.alert-danger {
  color: white;
  background-color: #dc3545;
}

.badge-success {
  background-color: $green;
}
.badge-light {
  background-color: $light;
}
.badge-secondary {
  background-color: $lightblue;
}

.badge {
  padding: 2px 8px 2px 8px !important;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  vertical-align: middle;
  border-radius: 20px;
}

.badge-light {
  .badge-action {
    padding-right: 5px;
    padding-left: 3px;
    margin-right: -7px;
    border-radius: 50%;

    &:hover {
      background-color: #c4d3d9;
    }
  }
}

.badge .fa {
  margin-right: 2px !important;
  font-size: 15px;
  font-style: normal;
  font-weight: lighter !important;
}

.btn.btn-submit {
  height: 40px;
  color: #0e455a;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  background-color: #fcbf0b;
  box-shadow: 0 2px 4px 0 #fcbf0b;
  border: none;
  border-radius: 31px;
}

.btn.btn-link {
  padding: 0;
  color: $lightblue;
  background-color: transparent;
  border: none;

  &.btn-danger {
    color: theme-color("danger");
  }
}

.btn.btn-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 50%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  background-color: rgba(72, 72, 72, .78);
}


.filter-wrapper {
  display: inline;
  padding: 5px;
  margin-top: 40px !important;
  margin-left: 40px;
  border: 1px dashed lightgray;
  border-radius: 5px;
}

.input-clean {
  border: none;
  outline: none;
}

.drag-handle {
  cursor: move;
}

.sweet-modal {
  .sweet-title h2 {
    margin-top: 1.2rem;
  }

  .sweet-content {
    font-size: inherit;
    text-align: inherit;
  }

  .sweet-box-actions .sweet-action-close:hover {
    background-color: $webshipperblue;
  }

  .embed-responsive-1by1.mail-preview {
    .embed-responsive-item {
      height: 100%!important;
    }
  }
}

.progress-col:before {
  // background-color: theme-color('secondary');
  content: " ";
  position: absolute;
  top: 1rem;
  left: 1.8rem;
  z-index: -1;
  width: .25rem;
  height: 100%;
}

.progress.with-steps {
  position: relative;
  overflow: visible;
  width: calc(100% - #{$progress-step-height});
  margin-top: ($progress-step-height/2);
  margin-bottom: 2*$progress-step-height;
  margin-left: ($progress-step-height/2);

  .progress-bar {
    margin-right: -$progress-step-height;
    margin-left: $progress-step-height/2;
    transition: width .2s ease-in-out;
  }

  .progress-steps {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% + #{$progress-step-height});
    margin-top: -($progress-step-height/2)+($progress-height/2);
    margin-left: -$progress-step-height/2;

    .progress-step {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      color: white;
      background-color: theme-color("secondary");
      border-radius: 50%;
      transition: background-color .2s ease-in-out;
      transition-delay: .1s;

      label {
        position: absolute;
        left: 0;
        width: $progress-step-height*3;
        margin-top: $progress-step-height;
        margin-left: -$progress-step-height;
        color: $gray-500;
        text-align: center;;
      }

      &.progress-step-primary {
        color: white;
        background-color: theme-color("primary");
        label {
          color: $body-color;
        }
      }
    }
  }
}



.fa-sub {
  position: relative;
  left: -.8em;
  width: .2em;
  text-shadow: 0 0 1px black; // optional contrast
  vertical-align: -.25em;
}

.w-60 {
  width: 60% !important;
}

.w-20 {
  width: 20% !important;
}

.display-none {
  display: none !important;
}
