$poppins-font-regular: "Poppins";
$font-family-sans-serif: $poppins-font-regular, sans-serif;
$font-scale: .87;
$font-size-base: $font-scale * 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-scale * 1.25rem;
$font-size-sm: $font-scale * .875rem;
$border-radius: 2px;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;
$progress-height: .5rem;
$progress-step-height: 2rem;
$spacer: 1rem;

// ###############################
// Color variables begin
// ###############################

// Colors.
// All defined in styleguides. All colors must defined here, and only here.
$color-dark-blue: #032447;
$color-middle-blue: #1a314a;
$color-blue: #0b2770;
$color-light-blue: #526796;
$color-dark-grey: #788598;
$color-medium-grey: #e2e5e6;
$color-light-grey: #f4f4f4;
$color-white: #fff;
$color-light-orange: #e0a681;
$color-white-orange: #fef6ed;
$color-teal-background-blue: #e2e5ec;
$color-green: #388e3c;
$color-yellow: #e6b900;
$color-red: #b71c1c;
$color-light-red: #c92e2e;
$color-bright-orange: #f57f17;
$color-purple: #bf25bf;
$color-dark-purple: #7847c6;
$color-bright-blue: #219aff;
$color-nshift-blue: #0101b9;

// Color aliases
$background-yellow: $color-white-orange;

// Webshipper colors
$webshipper-yellow-background: $color-light-orange;
$webshipper-yellowlight-background: $color-white-orange;
$webshipper-yellowwhite-background: $color-white-orange;
$webshipper-yellow: $color-light-orange;
$placeholders: $color-dark-grey;
$webshipperblue: $color-dark-blue;
$background-grey: $color-medium-grey;
$background-color: $color-light-grey;
$border-color: $color-medium-grey;
$button-active: $color-light-orange;
$border-success: $color-white-orange;
$background-light: $color-medium-grey;
$background-dark: $color-medium-grey;
$text-light: $color-dark-grey;

// Status colors
$status-done: $color-green;
$status-not-done: $color-yellow;
$status-waiting: $color-bright-orange;
$status-error: $color-red;
$status-hold: $color-blue;
$status-locked: $color-purple;
$status-missing: $color-nshift-blue;

// Text colors
$color-table-cell: $color-dark-grey;
$color-table-cell-hover: $color-dark-blue;
$color-table-title: $color-middle-blue;

// Overwrites Bootstrap colors
$yellow: $webshipper-yellow; //Overwrites bootstrap variables
$lightblue: $color-dark-blue; //Overwrites bootstrap variables
$green: $color-green; //Overwrites bootstrap variables
$light: $color-medium-grey; //Overwrites bootstrap variables
$blue: $webshipperblue; //Overwrites bootstrap variables

// ###############################
// Color variables end
// ###############################

// Button sizes
$button-small: 28px;
$button-large: 36px;

// Element padding
$small-padding: 10px;
$large-padding: 20px;

// Animation durations
$animation-duration: .3s;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  5: 5%,
  8: 8%,
  10: 10%,
  15: 15%,
  12: 12.5%,
  25: 25%,
  37: 37.5%,
  50: 50%,
  75: 75%,
  100: 100%
);
