<template>
  <div class="selectable-box">
    <div
      class="selectable-box__base-container"
      :class="{ expanded: isExpanded }"
      :type="isSelected ? 'button' : ''"
      @click.prevent="toggleExpandBox"
    >
      <WsCheckbox v-model="isSelected" class="small-padding-right" />
      <div class="grid-view">
        <div class="w-100">
          <span class="minor-title">{{ title }}</span>
          <div class="label-text">{{ label }}</div>
        </div>
        <div class="d-flex align-items-center">
          <slot name="right-side"></slot>
        </div>
      </div>
      <div v-show="isSelected && expandable" class="selectable-box__base-container__arrow">
        <img :src="icons.angle" alt="dropdown-arrow" />
      </div>
    </div>

    <div v-show="isExpanded" class="selectable-box__expandable-content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import angle from '../../assets/icons/common/angle.svg';
import WsCheckbox from '../input/checkbox.vue';
export default {
  name: 'WsExpandableSelectBox',
  components: {
    WsCheckbox
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    expandable: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      icons: {
        angle
      },
      expanded: false
    };
  },
  computed: {
    isSelected: {
      get() {
        return this.value;
      },
      set(isSelected) {
        this.$emit('input', isSelected);
      }
    },
    /**
     * Concludes that component is expanded when it's expandable and selected
     */
    isExpanded() {
      return this.isSelected && this.expandable && this.expanded;
    }
  },
  methods: {
    /**
     * Toggles the expanded state of the component
     * Will only toggle if the component is selected
     */
    toggleExpandBox() {
      if (this.isSelected) {
        this.expanded = !this.expanded;
      } else {
        this.expanded = false;
      }
    },
    /**
     * Makes it possible for parent to programatically set the expanded state
     * @param {boolean} expand
     */
    setExpandedTo(expand) {
      this.expanded = expand;
    }
  }
};
</script>

<style lang="scss" scoped>
@use '../styles/mixins.scss';
@import '../styles/variables.scss';

$box-padding: 20px;
.selectable-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 10px $box-padding;
  background-color: $color-white;
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;

  &__base-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.expanded {
      position: relative;
      padding-bottom: 10px;

      &::after {
        content: '';
        width: calc(100% + #{$box-padding} * 2);
        position: absolute;
        bottom: 0;
        left: -($box-padding);
        border-bottom: 1px solid $border-color;
      }

      & img {
        transform: rotate(180deg);
      }
    }
  }

  &__expandable-content {
    padding-top: 10px;
  }
}

.small-padding-right {
  padding-right: 10px;
}

.grid-view {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-gap: 10px;
  width: 100%;
}

.label-text {
  @include mixins.ellipsis;
  font-size: 12px;
}

.minor-title {
  @include mixins.ellipsis;
  color: $color-dark-grey;
  font-size: 10px;
  text-transform: uppercase;
}
</style>
