<template>
  <div>
    <img v-if="preview && value" class="px-2 py-2 mb-3 img-thumbnail img-fluid" :src="value" />
    <input ref="fileReader" type="file" :accept="accept" hidden="true" @change="onDrop($event)" />
    <div
      class="image-upload-collapsed"
      :class="{ active: fileHover }"
      @click.stop="$refs.fileReader.click()"
      @dragstart="$event.preventDefault()"
      @dragover="onDragOver($event)"
      @dragleave="dragLeave"
      @drop="onDrop($event)"
    >
      <div>
        <WsActionButton minor :label="buttonText" @click.stop="$refs.fileReader.click()" />
        <span v-if="fileName && !hideUploadedFileName" class="ml-2">{{ fileName }}</span>
        <span v-else-if="!hideLabel && !fileName" class="ml-2">{{ helpText }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import WsActionButton from '../buttons/action-button.vue';

export default {
  name: 'WsFileUploaderButton',
  components: {
    WsActionButton
  },
  props: {
    value: null,
    rawData: {
      type: Boolean,
      default: false
    },
    clearImmediately: {
      type: Boolean,
      default: false
    },
    accept: {
      type: String,
      default: 'image/jpeg,image/png,image/svg+xml,image/bmp,image/gif'
    },
    preview: {
      type: Boolean,
      default: true
    },
    buttonText: {
      type: String,
      default: 'Select file'
    },
    helpText: {
      type: String,
      default: 'Select or drag and drop an image you want to add'
    },
    hideLabel: {
      type: Boolean,
      default: false
    },
    hideUploadedFileName: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      image: this.value || '',
      fileHover: false,
      fileName: ''
    };
  },
  methods: {
    /**
     * event handler for dragover event
     */
    onDragOver(e) {
      e.preventDefault();
      this.fileHover = true;
    },
    /**
     * When dropping a file onto the drop area, this method is called.
     * It reads the file and handles rawData and clearImmediately properties.
     */
    onDrop(e) {
      const outerEvent = e;
      e.preventDefault();
      // No longer hovering a file, since it was dropped
      this.fileHover = false;
      const files = e.target.files || e.dataTransfer.files;
      if (files.length == 0) {
        return;
      }

      this.fileName = files[0].name;

      this.$emit('name', this.fileName);
      const read = new FileReader();

      // Read the file
      read.onload = (e) => {
        let data = e.target.result;

        // Handle the raw data
        if (this.rawData) {
          data = data.replace('data:application/pdf;base64,', '');
        }

        this.$emit('input', data);

        if (this.clearImmediately) {
          this.fileName = null;
          outerEvent.target.value = null;
        }
      };

      read.readAsDataURL(files[0]);
    },
    dragLeave(e) {
      e.preventDefault();
      this.fileHover = false;
    }
  }
};
</script>

<style scoped lang="scss">
.image-upload-collapsed {
  overflow: hidden;
  width: fit-content;
  padding-right: 10px;
  border-radius: 24px;
  // Give some visual feedback when hovering over the drop area with a file
  &.active {
    background-color: rgba(0, 0, 0, .1);
  }
}
</style>
