<template>
  <div class="carousel" ref="carousel">
    <button class="arrow arrow--left" v-if="showArrows && canScrollLeft" @click="changeSlide('left')">
      <img :src="icons.angle" alt="left-carousel-arrow" />
    </button>
    <div class="carousel__slides" :style="cssVariables" ref="carouselSlides">
      <slot />
    </div>
    <button class="arrow arrow--right" v-if="showArrows && canScrollRight" @click="changeSlide('right')">
      <img :src="icons.angle" alt="right-carousel-arrow" />
    </button>
  </div>
</template>

<script>
import angle from '../../assets/icons/common/angle.svg';

export default {
  name: 'WsCarousel',
  props: {
    perView: {
      type: Number,
      default: 3
    },
    startAt: {
      type: Number,
      default: 0
    },
    showArrows: {
      type: Boolean,
      default: true
    },
    infiniteScroll: {
      type: Boolean,
      default: false
    },
    gap: {
      type: Number,
      default: 30
    },
    smallWidth: undefined,
    largeWidth: undefined
  },
  data() {
    return {
      mounted: false,
      icons: {
        angle
      },
      cardWidths: [],
      currentSlide: this.startAt
    };
  },
  computed: {
    canScrollLeft() {
      return this.currentSlide !== 0 || this.infiniteScroll;
    },
    canScrollRight() {
      return this.currentSlide !== this.cardWidths.length - 1 || this.infiniteScroll;
    },
    /**
     * Uses this.currentSlide to calculate how much the slides should be translated right/left
     * The highlighted card needs to be in the middle of the container
     */
    translateX() {
      if (!this.mounted) {
        return 0;
      }
      const carousel = this.$refs.carousel;
      const halfWidthOfCarousel = carousel.offsetWidth / 2;
      const halfWidthOfCurrentSlide = this.cardWidths[this.currentSlide] / 2;

      const startPosition = halfWidthOfCarousel - halfWidthOfCurrentSlide;

      let accumulatedTranslation = 0;

      // Add all card widths together up to this.currentSlide.
      for (let ii = 0; ii < this.currentSlide; ii++) {
        accumulatedTranslation += this.cardWidths[ii] + this.gap;
      }

      // Add all card widths together up to this.currentSlide.
      // for (let ii = 0; ii < this.currentSlide; ii++) {
      //   translateAmount += this.gap;
      // }

      // Since we're moving cards to the left, they need to be negative translation numbers
      accumulatedTranslation = accumulatedTranslation * -1;

      return `${startPosition + accumulatedTranslation}px`;
    },
    cssVariables() {
      return {
        '--number-of-columns': this.perView,
        '--column-gap': `${this.gap}px`,
        '--translate-x': this.translateX
      };
    }
  },
  methods: {
    /**
     * Changes slide left or right
     */
    changeSlide(leftOrRight) {
      const numberOfSlides = this.cardWidths.length;
      if (leftOrRight === 'left') {
        if (this.infiniteScroll && this.currentSlide === 0) {
          this.currentSlide = numberOfSlides - 1;
        } else {
          this.currentSlide--;
        }
      } else {
        if (this.infiniteScroll && this.currentSlide === numberOfSlides - 1) {
          this.currentSlide = 0;
        } else {
          this.currentSlide++;
        }
      }
      this.$emit('change', this.currentSlide);
      this.calculateCardWidths();
    },
    /**
     * Used to jump more than one slide at a time. Can be used through $ref
     * Has safety features so that it doesn't change to a number, that doesn't exist
     */
    jumpToSlide(number) {
      if (number >= 0 && number <= this.cardWidths.length - 1) {
        this.currentSlide = number;
        this.calculateCardWidths();
      }
    },
    /**
     * (Re)calculates width of each card.
     */
    calculateCardWidths() {
      // Clear the array in an reactive way
      this.cardWidths.splice(0);
      // Calculate the width of each slot-child
      const carouselSlides = this.$refs.carouselSlides;
      // There are more elements than expected as gaps also count as children. Filter those out
      const filteredChildren = Array.from(carouselSlides.childNodes).filter((child) => {
        return child.nodeType !== 3;
      });
      let widths = [];

      // Since there might be an animation on height/width of each card, we cannot get the width of them,
      // as the animation might not be done. Thus, allow us to manually provide two preset widths to use.
      if (this.smallWidth && this.largeWidth) {
        for (let ii = 0; ii < filteredChildren.length; ii++) {
          if (ii === this.currentSlide) {
            widths.push(this.largeWidth);
          } else {
            widths.push(this.smallWidth);
          }
        }
      } else {
        // Else, we assume that there is no animation, and thus, we can just get the widths.
        filteredChildren.forEach((card) => {
          widths.push(card.offsetWidth);
        });
      }

      this.cardWidths = [...widths];
      this.$forceUpdate();
    }
  },
  mounted() {
    this.mounted = true;
    this.calculateCardWidths();
  }
};
</script>

<style lang="scss" scoped>
@use '../styles/mixins.scss';
@import '../styles/variables.scss';

.carousel {
  min-height: 350px;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: top;
  width: inherit;
  padding: 6px;
  &__slides {
    width: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;
    transform: translateX(var(--translate-x));
    gap: var(--column-gap);

    & > * {
      display: flex;
      flex-shrink: 0;
    }
  }
}

.arrow {
  z-index: 1;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  background: $webshipperblue;
  transition: all 0.2s ease-in-out;

  &--left {
    top: 50%;
    left: 10px;
    & img {
      transform: rotate(90deg);
      @include mixins.toWhite();
    }
  }

  &--right {
    top: 50%;
    right: 10px;
    & img {
      transform: rotate(-90deg);
      @include mixins.toWhite();
    }
  }

  &:hover {
    transform: scale3d(1.1, 1.1, 1);
    background: lighten($webshipperblue, 10%);
  }
  &:active {
    transform: scale3d(1, 1, 1);
    background: $webshipperblue;
  }
}
</style>