<template>
  <div class="custom-dropdown">
    <!-- Button -->
    <div
      class="custom-dropdown__dropdown-button"
      :class="classes"
      type="button"
      ref="toggleButton"
      aria-haspopup="true"
      @click="dropdownToggled"
    >
      <span class="custom-dropdown__dropdown-button__icon" v-if="icon">
        <img :src="icon" />
      </span>
      <span v-if="label">{{ label }}</span>
    </div>

    <!-- Dropdown container -->
    <div v-if="expanded" class="custom-dropdown__container" ref="dropdownContainer">
      <slot></slot>
    </div>
    <div class="overlay" v-if="expanded" @click="closeDropdown()"></div>
  </div>
</template>

<script>
export default {
  name: 'WsDropdownCustomContent',
  props: {
    label: {
      type: String,
      default: ''
    },
    icon: {
      type: [String, Object],
      default: ''
    },
    size: {
      type: String,
      default: 'large',
      validator(value) {
        return ['small', 'large'].includes(value.toLowerCase());
      }
    }
  },
  data() {
    return {
      expanded: false
    };
  },
  methods: {
    /**
     * Toggle the dropdown
     */
    dropdownToggled() {
      this.expanded = !this.expanded;
    },
    /**
     * Close the dropdown
     */
    closeDropdown() {
      this.expanded = false;
    },
    /**
     * Makes sure that everytime window is resized, the dialog will be moved
     */
    windowResize() {
      this.preventOverflow();
    },
    /**
     * Prevents the dropdown from overflowing the window by moving it left/right
     */
    preventOverflow() {
      if (!this.expanded) {
        return;
      }

      const border = 2 * 2; // 2 pixels on top and bottom
      const reference = this.$refs.dropdownContainer;
      const toggleButton = this.$refs.toggleButton;

      const dialogWidth = reference.clientWidth + border;

      // Use the received $refs.toggleButton to position dialog as it is position: absolute
      let offsetX = toggleButton.offsetLeft;

      const rightSide = offsetX + dialogWidth; // Right side of expanded dialog
      const overflowX = rightSide - document.body.clientWidth;
      const bufferArea = 5; // Buffer area to give the dialog some breathing room

      // Will it overflow the right side of the window?
      if (rightSide >= document.body.clientWidth) {
        offsetX = offsetX - (overflowX + bufferArea);
      }

      // Make the actual re-positioning
      reference.style.left = offsetX + 'px';
    }
  },
  computed: {
    classes() {
      return {
        small: this.size === 'small',
        large: this.size === 'large',
        expanded: this.expanded
      };
    }
  },
  created() {
    window.addEventListener('resize', this.windowResize); // Listen for window resize
  },
  updated() {
    this.preventOverflow();
  },
  destroyed() {
    window.removeEventListener('resize', this.windowResize);
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/variables.scss";

.custom-dropdown {
  width: fit-content;

  &__dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid $border-color;
    border-radius: 24px;
    transition: border-radius .2s ease-in-out;

    &.small {
      height: $button-small;
      padding: 0 12px;
      font-size: 10px;
    }

    &.large {
      height: $button-large;
      padding: 0 16px;
      font-size: 12px;
    }

    &.expanded {
      position: relative; // Only make parent relative if dropdown is expanded
      z-index: 2;
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &__icon {
      display: flex;
      align-items: center;
      margin-right: 8px;
      pointer-events: none;
    }
  }

  &__container {
    position: absolute;
    z-index: 1;
    min-width: 300px;
    min-height: 200px;
    padding: 0 20px 20px 20px; // No padding on top
    background-color: #fff;
    box-shadow: 0 8px 10px 0 rgb(19, 23, 31, 10%);
    border: 2px solid $border-color;
    border-radius: 0 8px 8px; // no radius on top left corner
    transform: translateY(-2px);
    animation: fadeIn .5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
</style>