<template>
  <div class="d-flex align-items-center">
    <div class="icon-badge mr-2" :class="iconClass">
      <img class="status-icon" :src="iconSrc" />
    </div>
    <span v-if="showLabel" class="status-name">{{ label }}</span>
  </div>
</template>

<script>
import done from '../../assets/icons/status/done-white.svg';
import circle from '../../assets/icons/status/circle-white.svg';
import error from '../../assets/icons/status/error-white.svg';
import lock from '../../assets/icons/status/lock-white.svg';
import obs from '../../assets/icons/status/obs-white.svg';
import pause from '../../assets/icons/status/pause-white.svg';
import watch from '../../assets/icons/status/watch-white.svg';
import dash from '../../assets/icons/status/dash-white.svg';
import warning from '../../assets/icons/status/obs-white.svg';

export default {
  props: {
    status: String,
    label: String,
    showLabel: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      icons: {
        done,
        circle,
        error,
        lock,
        obs,
        pause,
        watch,
        dash,
        warning
      }
    };
  },
  computed: {
    iconClass() {
      switch (this.status) {
        case 'ok':
        case 'dispatched':
        case 'printed':
          return 'done center';
        case 'partly_ok':
        case 'partly_dispatched':
          return 'circle center';
        case 'error':
          return 'error center';
        case 'locked':
          return 'lock center';
        case 'missing_rate':
        case 'obs':
          return 'obs center';
        case 'on_hold':
          return 'pause center';
        case 'not_printed':
        case 'partial_error':
          return 'dash center';
        case 'pending':
          return 'watch';
        case 'warning':
          return 'warning center';
      }

      return 'circle center';
    },
    iconSrc() {
      return this.icons[this.iconClass.split(' ')[0]];
    }
  }
};
</script>

<style scoped  lang="scss">
@import "../styles/variables.scss";

.icon-badge {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  background-color: $status-done;
}

.circle {
  background-color: $status-not-done;
}

.watch {
  // This icon is a bit weird, so it cannot be centered using flex
  padding-left: 4px;
  background-color: $status-waiting;
}

.error {
  background-color: $status-error;
}

.pause {
  background-color: $status-hold;
}

.lock {
  background-color: $status-locked;
}

.obs {
  background-color: $status-missing;
}

.warning {
  background-color: $status-error;
}

.dash {
  background-color: $status-not-done;
}

.badge .fa {
  margin-right: 0 !important;
}

.icon-only {
  margin-right: 0 !important;
}

.margin-left {
  margin-left: 8px;
}

span {
  display: flex;
}

.status-name {
  font-size: .87rem;
  font-weight: 400;
  white-space: nowrap;
}
</style>