<template>
  <div class="steps">
    <div class="steps__container" :class="{ vertical: direction === directions.vertical }">
      <li
        class="step-item"
        v-for="(step, index) in steps"
        :key="index"
        :class="[{ selected: index === selectedIndex }, { vertical: direction === 'vertical' }]"
        @click="manuallySelectStep(index, true)"
      >
        <div
          class="step-circle"
          :class="[
            { selected: index === selectedIndex },
            { last: index === steps.length - 1 },
            { 'invalid-click': index > validStep || disabled || disableClick }
          ]"
          type="button"
        >
          <div class="step-circle--completed-step" v-if="index < selectedIndex">
            <img :src="icons.done" />
          </div>
        </div>
        <img
          class="mx-1"
          v-if="direction === directions.horizontal && index !== steps.length - 1"
          :src="icons.horizontalDashedLine"
        />
        <img
          class="vertical-line"
          v-if="direction === directions.vertical && index !== steps.length - 1"
          :src="icons.verticalDashedLine"
        />
        <span v-if="direction === directions.vertical" class="step-item__text">{{ step.title }}</span>
      </li>
    </div>
  </div>
</template>

<script>
import horizontalDashedLine from '../../assets/icons/common/lines/horizontal-dashed-line.svg';
import verticalDashedLine from '../../assets/icons/common/lines/vertical-dashed-line.svg';
import done from '../../assets/icons/status/done-white.svg';

export default {
  name: 'WsStepProgressBar',
  props: {
    steps: {
      type: Array,
      default: () => []
    },
    selectedStep: {
      type: Number,
      default: 0
    },
    direction: {
      type: String,
      default: 'horizontal',
      validator(value) {
        return ['vertical', 'horizontal'].includes(value);
      }
    },
    validStep: {
      type: Number,
      default: 0
    },
    disabled: {
      type: Boolean,
      default: false
    },
    disableClick: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selectedIndex: 0,
      directions: {
        vertical: 'vertical',
        horizontal: 'horizontal'
      },
      icons: {
        horizontalDashedLine,
        verticalDashedLine,
        done
      }
    };
  },
  watch: {
    selectedStep(newValue) {
      this.selectStep(newValue);
    }
  },
  mounted() {
    this.selectStep(this.selectedStep);
  },
  methods: {
    /**
     * Selects a step by setting isActive to true on clicked element and false to all others.
     * Method will always work when disabled is true
     */
    selectStep(stepIndex, emit = false) {
      this.selectedIndex = stepIndex;
      if (emit) {
        this.$emit('change', stepIndex);
      }

      this.steps.forEach(function (step, index) {
        step.isActive = index === stepIndex;
      });
    },
    /**
     * Used when user is manually pressing a step. Won't do anything if disabled is true
     * @param {Number} stepIndex index that is pressed and will be selected
     */
    manuallySelectStep(stepIndex) {
      if (this.validStep >= stepIndex && !this.disabled && !this.disableClick) {
        this.selectStep(stepIndex, true);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../styles/variables.scss';

.steps {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    padding: 0;
    list-style: none;

    &.vertical {
      flex-direction: column;
    }
  }
}

.vertical-line {
  position: absolute;
  top: 22px;
  left: 8px;
}

.step-item {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: $border-radius;
  user-select: none;

  &__text {
    margin-left: 10px;
    color: $webshipperblue;
    font-weight: 600;
  }

  &.vertical {
    margin-bottom: 26px;
  }
}

.step-circle {
  width: 18px;
  height: 18px;
  border: solid 2px $webshipperblue;
  border-radius: 100%;

  &.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: '';
      width: 10px;
      height: 10px;
      background: $webshipperblue;
      border-radius: 100%;
    }
  }

  &--completed-step {
    position: relative;
    width: 100%;
    height: 100%;
    background: $webshipperblue;
    border-radius: 100%;

    & img {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 10px;
    }
  }

  &.last {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border: solid 2px $webshipperblue;
      border-radius: 100%;
    }
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
  }

  &.invalid-click {
    cursor: not-allowed;
  }

  &:not(.selected, .invalid-click):hover {
    display: flex;
    justify-content: center;
    align-items: center;

    & .step-circle--completed-step {
      display: none;
    }

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      background: $webshipperblue;
    }
  }
}
</style>